assets/jade/pages/news.jade
extends ../layouts/inner

block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span About
                    li: a(href="#"): span News

            nav.inner-menu
                ul
                    li: a(href="#") About Victory
                    li: a(href="#") Rules
                    li.active: a(href="#") News
                    li: a(href="#") Press Room
                    li: a(href="#") Our network

        .news-page-title-container
            .select-type
                a.active(href="#") News
                a(href="#") Archive
            h1.page-title News
            button.period-filter: span August 2015
            .calendar
                .years
                    each year in [2015, 2014, 2013, 2012, 2011]
                        a.year(href="#", class="#{year == 2015 ? 'active': ''}") #{year}
                .months
                    each month, index in ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
                        a.month(href="#", class="#{month == 'August' ? 'active': ''} #{index > 8 ? 'disabled': ''}") #{month}
                    .buttons
                        | <a href="#" class="apply">Filter</a>
                        | <a class="reset" href="/uk/news">Reset</a>
                        button.close: span Close

block content
    .inner-content-container.news
        each index in [1, 2, 3, 4, 5]
            article.news-item: .column.full: .container
                h1: a(href="#") «МТС Україна» запустила першу власну мережу 3G. Одесити вже можуть користуватись швидкісним інтернетом
                .date 20 серпня 2015
                .excerpt.
                    Сьогодні «МТС Україна» запустила в Одесі першу власну мережу 3G. З 22 вересня у всіх одеських 
                    абонентів з'явилася можливість користуватися мобільним інтернетом на швидкості до 42 Мбіт/с. 
                    Завершено масштабне будівництво й технічне тестування, тепер власна мережа «МТС Україна» в 
                    Одесі протягом тижня проходитиме тонке налаштування в умовах реального навантаження. Після чого 
                    мережа буде запущена в повномасштабну експлуатацію – абоненти отримають максимальні швидкості та 
                    якість покриття.
        .paginator: .container
            .bwd: a(href="#")
            .links
                each page in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                    a(href="#", class="#{page==1 ? 'active' : ''}") #{page}
            .fwd: a(href="#")

static/html/news.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Site title</title>
    <link rel="stylesheet" href="/fonts/vodafone/stylesheet.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/fav/57x57.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/fav/114x114.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/fav/72x72.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/fav/144x144.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/img/fav/60x60.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/img/fav/120x120.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/fav/76x76.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/img/fav/152x152.png"/>
    <link rel="icon" type="image/png" href="/img/fav/16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/img/fav/32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/fav/96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/img/fav/160x160.png" sizes="160x160"/>
    <link rel="icon" type="image/png" href="/img/fav/196x196.png" sizes="196x196"/>
    <meta name="msapplication-TileColor" content="#fff"/>
    <meta name="msapplication-TileImage" content="/img/fav/144x144.png"/>
    <script src="/vendor/promise-ajax-js/promise.min.js"></script>
    <script src="/vendor/velocity/velocity.min.js"></script>
    <script src="/vendor/hammer.js/hammer.min.js"></script>
    <script>document.createElement("picture");</script>
    <script src="/vendor/picturefill/dist/picturefill.min.js" async="async"></script>
    <meta property="og:url" content="http://example.com"/>
    <meta property="og:title" content="Site title"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content="http://example.com/img/fb_share.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Site title"/>
    <meta property="fb:app_id" content=""/>
    <!--+vk_init('')-->
    <!--+ga('')-->
  </head>
  <body><!--[if lt IE 9]>
    <style>
      body {
          overflow: hidden
      }
    </style>
    <div id="oldie" class="oldie">
      <div class="txt">Your browser is too old, outdated and insecure.<br>Please update</div>
    </div><![endif]-->
    <!--+facebook_init('')-->
    <header id="header">
      <nav class="global-menu">
        <div class="container">
          <ul class="sections">
            <li class="active"><a href="#">Private</a></li>
            <li><a href="#">Business</a></li>
          </ul>
          <ul class="mixed">
            <li class="dropdown active"><span>About</span>
              <ul>
                <li><a href="#">About Victory</a></li>
                <li><a href="#">Rules</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Press Room</a></li>
                <li><a href="#">Our network</a></li>
              </ul>
            </li>
            <li><a href="#">Stores</a></li>
            <li class="dropdown"><span>My Vodafone</span>
              <ul class="centered">
                <li><a href="#">Private</a></li>
                <li><a href="#">Business</a></li>
              </ul>
            </li>
            <li class="separator">&nbsp;</li>
            <li class="dropdown"><span>Eng</span>
              <ul class="righted">
                <li><a href="#">Українська</a></li>
                <li><a href="#">Русский</a></li>
                <li class="active"><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="highlighter">
          <div class="tip"></div>
        </div>
      </nav>
      <div class="promo-section">
        <div class="section-menu-container">
          <div class="logo">
            <div class="romb"></div><img src="/img/logo.png"/>
          </div>
          <button class="burger"></button>
          <nav class="section-menu">
            <button class="search-button"></button>
            <button class="lang-button">Eng</button>
            <button class="location-button"></button>
            <div class="main_menu">
              <div class="sections">
                <div class="confirm show">
                  <div>
                    <p>Ви дійсно знаходитесь в {region}?</p>
                    <p>
                      <span class="yes">Так, все вірно</span>
                      <span class="no">Ні, змінити регіон</span>
                    </p>
                  </div>
                </div>
                <ul>
                  <li class="active"><a href="#" data-section="private">Private</a></li>
                  <li><a href="#" data-section="business">Business</a></li>
                  <li><a href="#" data-section="about">About</a></li>
                </ul>
              </div>
              <ul class="menu-list private current">
                <li class="dropdown"><span>Tariffs</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Prepaid</a></li>
                      <li><a href="#">Contract</a></li>
                      <li><a href="#">Inner</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Internet</a></li>
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
                <li class="dropdown has-banner"><span>Services</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Recharge account</a></li>
                      <li><a href="#">Transfer money</a></li>
                      <li><a href="#">"INFO" service</a></li>
                      <li><a href="#">"GOOD-OK" service</a></li>
                      <li><a href="#">"CLICK" service</a></li>
                    </ul>
                    <ul>
                      <li><a href="#">Recharge account</a></li>
                      <li><a href="#">Transfer money</a></li>
                      <li><a href="#">"INFO" service</a></li>
                    </ul>
                    <div class="banner">
                      <div class="cnt"></div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="menu-list business">
                <li class="dropdown"><span>Tariffs</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Prepaid</a></li>
                      <li><a href="#">Contract</a></li>
                      <li><a href="#">Inner</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Internet</a></li>
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
              </ul>
              <ul class="menu-list about">
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
              </ul>
              <button class="close">Close</button>
            </div>
            <div class="search">
              <form action="#" method="post">
                <div class="submit-wrap">
                  <button type="submit" class="submit"><span>Search</span></button>
                </div>
                <div class="search-input-wrap">
                  <input type="search" placeholder="Search..." class="search-input"/>
                </div>
              </form>
              <button class="close">Close</button>
            </div>
            <div class="langs">
              <ul>
                <li><a href="">Українська</a></li>
                <li><a href="">Русский</a></li>
                <li class="active"><a href="">English</a></li>
              </ul>
              <button class="close">Close</button>
            </div>
            <div class="locations">
              <div class="wrap">
                <ul>
                  <li><span>Украина</span></li>
                  <li><a href="1">Дніпропетровська область</a>
                    <ul>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                    </ul>
                  </li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                </ul>
              </div>
              <button class="close">Close</button>
            </div>
          </nav>
        </div>
        <div class="inner-info-container">
          <div class="wrap">
            <div class="inner-navs">
              <nav class="bread-crumps">
                <ul>
                  <li class="home"><a href="/"><span>Home</span></a></li>
                  <li><a href="#"><span>About</span></a></li>
                  <li><a href="#"><span>News</span></a></li>
                </ul>
              </nav>
              <nav class="inner-menu">
                <ul>
                  <li><a href="#">About Victory</a></li>
                  <li><a href="#">Rules</a></li>
                  <li class="active"><a href="#">News</a></li>
                  <li><a href="#">Press Room</a></li>
                  <li><a href="#">Our network</a></li>
                </ul>
              </nav>
            </div>
            <div class="news-page-title-container">
              <div class="select-type"><a href="#" class="active">News</a><a href="#">Archive</a></div>
              <h1 class="page-title">News</h1>
              <button class="period-filter"><span>August 2015</span></button>
              <div class="calendar">
                <div class="years"><a href="#" class="year active">2015</a><a href="#" class="year">2014</a><a href="#" class="year">2013</a><a href="#" class="year">2012</a><a href="#" class="year">2011</a>
                </div>
                <div class="months"><a href="#" class="month  ">January</a><a href="#" class="month  ">February</a><a href="#" class="month  ">March</a><a href="#" class="month  ">April</a><a href="#" class="month  ">May</a><a href="#" class="month  ">June</a><a href="#" class="month  ">July</a><a href="#" class="month active ">August</a><a href="#" class="month  ">September</a><a href="#" class="month  disabled">October</a><a href="#" class="month  disabled">November</a><a href="#" class="month  disabled">December</a>
                  <div class="buttons">
                    <a href="#" class="apply">Filter</a>
                    <a class="reset" href="/uk/news">Reset</a>
                    <button class="close"><span>Close</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="container">
      <div class="inner-content-container news">
        <article class="news-item">
          <div class="column full">
            <div class="container">
              <h1><a href="#">«МТС Україна» запустила першу власну мережу 3G. Одесити вже можуть користуватись швидкісним інтернетом</a></h1>
              <div class="date">20 серпня 2015</div>
              <div class="excerpt">
                Сьогодні «МТС Україна» запустила в Одесі першу власну мережу 3G. З 22 вересня у всіх одеських 
                абонентів з'явилася можливість користуватися мобільним інтернетом на швидкості до 42 Мбіт/с. 
                Завершено масштабне будівництво й технічне тестування, тепер власна мережа «МТС Україна» в 
                Одесі протягом тижня проходитиме тонке налаштування в умовах реального навантаження. Після чого 
                мережа буде запущена в повномасштабну експлуатацію – абоненти отримають максимальні швидкості та 
                якість покриття.
              </div>
            </div>
          </div>
        </article>
        <article class="news-item">
          <div class="column full">
            <div class="container">
              <h1><a href="#">«МТС Україна» запустила першу власну мережу 3G. Одесити вже можуть користуватись швидкісним інтернетом</a></h1>
              <div class="date">20 серпня 2015</div>
              <div class="excerpt">
                Сьогодні «МТС Україна» запустила в Одесі першу власну мережу 3G. З 22 вересня у всіх одеських 
                абонентів з'явилася можливість користуватися мобільним інтернетом на швидкості до 42 Мбіт/с. 
                Завершено масштабне будівництво й технічне тестування, тепер власна мережа «МТС Україна» в 
                Одесі протягом тижня проходитиме тонке налаштування в умовах реального навантаження. Після чого 
                мережа буде запущена в повномасштабну експлуатацію – абоненти отримають максимальні швидкості та 
                якість покриття.
              </div>
            </div>
          </div>
        </article>
        <article class="news-item">
          <div class="column full">
            <div class="container">
              <h1><a href="#">«МТС Україна» запустила першу власну мережу 3G. Одесити вже можуть користуватись швидкісним інтернетом</a></h1>
              <div class="date">20 серпня 2015</div>
              <div class="excerpt">
                Сьогодні «МТС Україна» запустила в Одесі першу власну мережу 3G. З 22 вересня у всіх одеських 
                абонентів з'явилася можливість користуватися мобільним інтернетом на швидкості до 42 Мбіт/с. 
                Завершено масштабне будівництво й технічне тестування, тепер власна мережа «МТС Україна» в 
                Одесі протягом тижня проходитиме тонке налаштування в умовах реального навантаження. Після чого 
                мережа буде запущена в повномасштабну експлуатацію – абоненти отримають максимальні швидкості та 
                якість покриття.
              </div>
            </div>
          </div>
        </article>
        <article class="news-item">
          <div class="column full">
            <div class="container">
              <h1><a href="#">«МТС Україна» запустила першу власну мережу 3G. Одесити вже можуть користуватись швидкісним інтернетом</a></h1>
              <div class="date">20 серпня 2015</div>
              <div class="excerpt">
                Сьогодні «МТС Україна» запустила в Одесі першу власну мережу 3G. З 22 вересня у всіх одеських 
                абонентів з'явилася можливість користуватися мобільним інтернетом на швидкості до 42 Мбіт/с. 
                Завершено масштабне будівництво й технічне тестування, тепер власна мережа «МТС Україна» в 
                Одесі протягом тижня проходитиме тонке налаштування в умовах реального навантаження. Після чого 
                мережа буде запущена в повномасштабну експлуатацію – абоненти отримають максимальні швидкості та 
                якість покриття.
              </div>
            </div>
          </div>
        </article>
        <article class="news-item">
          <div class="column full">
            <div class="container">
              <h1><a href="#">«МТС Україна» запустила першу власну мережу 3G. Одесити вже можуть користуватись швидкісним інтернетом</a></h1>
              <div class="date">20 серпня 2015</div>
              <div class="excerpt">
                Сьогодні «МТС Україна» запустила в Одесі першу власну мережу 3G. З 22 вересня у всіх одеських 
                абонентів з'явилася можливість користуватися мобільним інтернетом на швидкості до 42 Мбіт/с. 
                Завершено масштабне будівництво й технічне тестування, тепер власна мережа «МТС Україна» в 
                Одесі протягом тижня проходитиме тонке налаштування в умовах реального навантаження. Після чого 
                мережа буде запущена в повномасштабну експлуатацію – абоненти отримають максимальні швидкості та 
                якість покриття.
              </div>
            </div>
          </div>
        </article>
        <div class="paginator">
          <div class="container">
            <div class="bwd"><a href="#"></a></div>
            <div class="links"><a href="#" class="active">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#">10</a>
            </div>
            <div class="fwd"><a href="#"></a></div>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="container">
        <div class="contact">
          Телефон служби підтримки: 
          <address>0 (800) 400-000</address> (безкоштовно з усіх мереж зв’язку України) 
          або <address>111</address> (безкоштовно в мережі МТС)
        </div>
        <div class="menu">
          <nav class="private"><strong><a href="">Private</a></strong>
            <ul>
              <li><a href="">Tariffs</a></li>
              <li><a href="">Internet</a></li>
              <li><a href="">International calls</a></li>
              <li><a href="">Roaming</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">My Victory</a></li>
            </ul>
          </nav>
          <nav class="business"><strong><a href="">Business</a></strong>
            <ul>
              <li><a href="">Tariffs</a></li>
              <li><a href="">Internet</a></li>
              <li><a href="">International calls</a></li>
              <li><a href="">Roaming</a></li>
              <li><a href="">My Victory</a></li>
            </ul>
          </nav>
          <nav class="about"><strong><a href="">About</a></strong>
            <ul>
              <li><a href="">About company</a></li>
              <li><a href="">Terms of use</a></li>
              <li><a href="">News</a></li>
              <li><a href="">Press center</a></li>
              <li><a href="">Our network</a></li>
              <li><a href="">Contacts</a></li>
            </ul>
          </nav>
          <nav class="stores"><strong><a href="">Our stores</a></strong></nav>
          <nav class="sitemap"><strong><a href="">Site map</a></strong></nav>
        </div>
        <div class="mobile-langs">
          <ul>
            <li class="active"><a href="#">Ukr</a></li>
            <li><a href="#">Rus</a></li>
            <li><a href="#">Eng</a></li>
          </ul>
        </div>
        <div class="mixed">
          <div class="external-links"><span>Приєднуйтеся до нас у соціальних мережах</span><a href="https://www.instagram.com/vodafone_ukraine/" target="_blank" class="instagram"></a><a href="https://vk.com/vfukraine" target="_blank" class="vkontakte"></a><a href="https://www.facebook.com/VFUkraine/" target="_blank" class="facebook"></a><a href="https://twitter.com/Vodafone_UA" target="_blank" class="twitter"></a><a href="https://www.youtube.com/channel/UCca4LDwZ0UFczThXXqMa0BA" target="_blank" class="youtube"></a></div>
          <div class="copyrights">© Victory. Всі права захищені.</div>
        </div>
      </div>
    </footer>
    <script src="/js/scripts.js"></script>
  </body>
</html>
