static/html/rik-bez-abonplat.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Site title</title>
    <link rel="stylesheet" href="/fonts/vodafone/stylesheet.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/fav/57x57.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/fav/114x114.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/fav/72x72.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/fav/144x144.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/img/fav/60x60.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/img/fav/120x120.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/fav/76x76.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/img/fav/152x152.png"/>
    <link rel="icon" type="image/png" href="/img/fav/16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/img/fav/32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/fav/96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/img/fav/160x160.png" sizes="160x160"/>
    <link rel="icon" type="image/png" href="/img/fav/196x196.png" sizes="196x196"/>
    <meta name="msapplication-TileColor" content="#fff"/>
    <meta name="msapplication-TileImage" content="/img/fav/144x144.png"/>
    <script src="/vendor/promise-ajax-js/promise.min.js"></script>
    <script src="/vendor/velocity/velocity.min.js"></script>
    <script src="/vendor/hammer.js/hammer.min.js"></script>
    <script>document.createElement("picture");</script>
    <script src="/vendor/picturefill/dist/picturefill.min.js" async="async"></script>
    <meta property="og:url" content="http://example.com"/>
    <meta property="og:title" content="Site title"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content="http://example.com/img/fb_share.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Site title"/>
    <meta property="fb:app_id" content=""/>
    <!--+vk_init('')-->
    <!--+ga('')-->
  </head>
  <body><!--[if lt IE 9]>
    <style>
      body {
          overflow: hidden
      }
    </style>
    <div id="oldie" class="oldie">
      <div class="txt">Your browser is too old, outdated and insecure.<br>Please update</div>
    </div><![endif]-->
    <!--+facebook_init('')-->
    <header id="header">
      <nav class="global-menu">
        <div class="container">
          <ul class="sections">
            <li class="active"><a href="#">Private</a></li>
            <li><a href="#">Business</a></li>
          </ul>
          <ul class="mixed">
            <li class="dropdown active"><span>About</span>
              <ul>
                <li><a href="#">About Victory</a></li>
                <li><a href="#">Rules</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Press Room</a></li>
                <li><a href="#">Our network</a></li>
              </ul>
            </li>
            <li><a href="#">Stores</a></li>
            <li class="dropdown"><span>My Vodafone</span>
              <ul class="centered">
                <li><a href="#">Private</a></li>
                <li><a href="#">Business</a></li>
              </ul>
            </li>
            <li class="separator">&nbsp;</li>
            <li class="dropdown"><span>Eng</span>
              <ul class="righted">
                <li><a href="#">Українська</a></li>
                <li><a href="#">Русский</a></li>
                <li class="active"><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="highlighter">
          <div class="tip"></div>
        </div>
      </nav>
      <div class="promo-section">
        <div class="section-menu-container">
          <div class="logo">
            <div class="romb"></div><img src="/img/logo.png"/>
          </div>
          <button class="burger"></button>
          <nav class="section-menu">
            <button class="search-button"></button>
            <button class="lang-button">Eng</button>
            <button class="location-button"></button>
            <div class="main_menu">
              <div class="sections">
                <div class="confirm show">
                  <div>
                    <p>Ви дійсно знаходитесь в {region}?</p>
                    <p>
                      <span class="yes">Так, все вірно</span>
                      <span class="no">Ні, змінити регіон</span>
                    </p>
                  </div>
                </div>
                <ul>
                  <li class="active"><a href="#" data-section="private">Private</a></li>
                  <li><a href="#" data-section="business">Business</a></li>
                  <li><a href="#" data-section="about">About</a></li>
                </ul>
              </div>
              <ul class="menu-list private current">
                <li class="dropdown"><span>Tariffs</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Prepaid</a></li>
                      <li><a href="#">Contract</a></li>
                      <li><a href="#">Inner</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Internet</a></li>
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
                <li class="dropdown has-banner"><span>Services</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Recharge account</a></li>
                      <li><a href="#">Transfer money</a></li>
                      <li><a href="#">"INFO" service</a></li>
                      <li><a href="#">"GOOD-OK" service</a></li>
                      <li><a href="#">"CLICK" service</a></li>
                    </ul>
                    <ul>
                      <li><a href="#">Recharge account</a></li>
                      <li><a href="#">Transfer money</a></li>
                      <li><a href="#">"INFO" service</a></li>
                    </ul>
                    <div class="banner">
                      <div class="cnt"></div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="menu-list business">
                <li class="dropdown"><span>Tariffs</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Prepaid</a></li>
                      <li><a href="#">Contract</a></li>
                      <li><a href="#">Inner</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Internet</a></li>
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
              </ul>
              <ul class="menu-list about">
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
              </ul>
              <button class="close">Close</button>
            </div>
            <div class="search">
              <form action="#" method="post">
                <div class="submit-wrap">
                  <button type="submit" class="submit"><span>Search</span></button>
                </div>
                <div class="search-input-wrap">
                  <input type="search" placeholder="Search..." class="search-input"/>
                </div>
              </form>
              <button class="close">Close</button>
            </div>
            <div class="langs">
              <ul>
                <li><a href="">Українська</a></li>
                <li><a href="">Русский</a></li>
                <li class="active"><a href="">English</a></li>
              </ul>
              <button class="close">Close</button>
            </div>
            <div class="locations">
              <div class="wrap">
                <ul>
                  <li><span>Украина</span></li>
                  <li><a href="1">Дніпропетровська область</a>
                    <ul>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                    </ul>
                  </li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                </ul>
              </div>
              <button class="close">Close</button>
            </div>
          </nav>
        </div>
        <div class="inner-info-container">
          <div class="wrap">
            <div class="inner-navs">
              <nav class="bread-crumps">
                <ul>
                  <li class="home"><a href="/"><span>Home</span></a></li>
                  <li><a href="#"><span>Приватним клієнтам</span></a></li>
                  <li><a href="#"><span>Тарифи</span></a></li>
                  <li><strong>Тарифи передплата</strong></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="container">
      <div class="page-title-container">
        <h1 class="page-title">Рік без абонплат</h1>
      </div>
      <div class="inner-content-container white_columns">
        <div class="row clearfix">
          <div class="new_tarif-banners columns-2 custom_style1">
            <div class="item">
              <div class="item-content">
                <div class="item-features">
                  <div class="item-title">Рік без абонплат<br> Vodafone Red XS</div>
                  <ul>
                    <li>
                      <div style="background-image:url('/img/tarif/icon-3g.png')" class="icon"></div>1 ГБ
                    </li>
                    <li>
                      <div style="background-image:url('/img/tarif/icon-unlimit.png')" class="icon"></div>Безліміт на дзвінки в мережі
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <div style="background-image:url('/img/tarif/icon-phone.png')" class="icon"></div>30 хв по Україні
                    </li>
                    <li>
                      <div style="background-image:url('/img/tarif/icon-message.png')" class="icon"></div>30 SMS&amp;MMS по Україні
                    </li>
                  </ul>
                </div>
                <div class="item-advantages">
                  <div class="title">Переваги:</div>
                  <ul>
                    <li><strong>12 міс</strong> Вільного спілкування з абонентами по Україні</li>
                    <li><strong>12 міс</strong> Без обов’язкових щомісячних платежів та поповнень</li>
                    <li><strong>30 %</strong> Економії</li>
                  </ul>
                </div>
                <div class="item-bottom">
                  <div class="item-price"><span>360</span><br>грн/рік</div>
                </div>
                <div class="item-connect">Пiдключити <strike>*365#</strike></div>
              </div>
            </div>
            <div class="item">
              <div class="item-content">
                <div class="item-features">
                  <div class="item-title">Рік без оплат<br> Vodafone Light</div>
                  <ul>
                    <li>
                      <div style="background-image:url('/img/tarif/icon-unlimit.png')" class="icon"></div>Безліміт на дзвінки в мережі
                    </li>
                  </ul>
                </div>
                <div class="item-advantages">
                  <div class="title">Переваги:</div>
                  <ul>
                    <li><strong>12 міс</strong> Вільного спілкування в мережі Vodafone Україна та МТС Україна</li>
                    <li><strong>12 міс</strong> Без оплат</li>
                    <li><strong>50 %</strong> Економії</li>
                  </ul>
                </div>
                <div class="item-bottom">
                  <div class="item-price"><span>360</span><br>грн/рік</div>
                </div>
                <div class="item-connect">Пiдключити <strike>*365#</strike></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="row">
            <div class="container">
              <div class="column full">Послуга діє 365 днів з моменту її активації. Вартість послуги знімається під час її підключення. Перевірити термін дії послуги у тарифі - <strike>*365*1#</strike></div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="accordion">
            <div class="panel expanded">
              <div class="title">
                <div class="container">
                  <div class="column full">Як пiдключити Vodafone Red XS</div>
                </div>
              </div>
              <div class="content">
                <div class="container">
                  <div class="column full">
                    <p>Після здійснення першого дзвінка у тарифі Vodafone Red XS або після переходу з будь-яких тарифів Vodafone Передплата та МТС Україна Передплата, Ви маєте можливість протягом перших 7 днів підключити послугу «Рік без абонплат» за спеціальною вартістю.</p>
                    <div class="table-wrap custom_style1">
                      <div>
                        <table>
                          <tr>
                            <th>Спеціальна вартість</th>
                            <th>Термін дії пропозиції</th>
                            <th>Підключення</th>
                            <th>Статус послуги</th>
                          </tr>
                          <tr>
                            <td>
                              <div class="color_red">360 грн</div>
                            </td>
                            <td>
                              <div class="color_red">7 днів</div>
                              <div class="fsz16">після здійснення 1-го дзвінка<br> чи переходу у тариф</div>
                            </td>
                            <td>
                              <strike>*365*1#</strike>
                            </td>
                            <td>
                              <strike>*365*1#</strike>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <blockquote><br/>
                      <p>Тарифи діють на території України.</p>
                      <p>Тарифи вказані y гривнях з урахуванням ПДВ та збору до Пенсійного фонду, який становить 7,5% від вартості послуг без ПДВ, станом на 01.08.2016 року.</p>
                      <p>Вартість дзвінків вказано за першу секунду кожної хвилини розмови.   Мінімальний строк дії тарифу — 30 днів із моменту його введення. </p>
                      <p>Детальну інформацію щодо тарифів, акцій, вартості та умов надання послуг можна отримати за телефонами: </p>
                      <p><strong>111</strong>  — безкоштовно з мобільного Vodafone Україна  в Україні; </p>
                      <p><strong>0800 400  111</strong>  — консультація щодо тарифів та послуг Vodafone Україна для абонентів інших операторів України (безкоштовно з будь-якого номера в Україні).</p>
                      <p>ПрАТ «МТС УКРАЇНА», 01601, м. Київ, вул. Лейпцизька, 15, у реєстрі операторів, провайдерів телекомунікацій № 47.</p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="container">
        <div class="contact">
          Телефон служби підтримки: 
          <address>0 (800) 400-000</address> (безкоштовно з усіх мереж зв’язку України) 
          або <address>111</address> (безкоштовно в мережі МТС)
        </div>
        <div class="menu">
          <nav class="private"><strong><a href="">Private</a></strong>
            <ul>
              <li><a href="">Tariffs</a></li>
              <li><a href="">Internet</a></li>
              <li><a href="">International calls</a></li>
              <li><a href="">Roaming</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">My Victory</a></li>
            </ul>
          </nav>
          <nav class="business"><strong><a href="">Business</a></strong>
            <ul>
              <li><a href="">Tariffs</a></li>
              <li><a href="">Internet</a></li>
              <li><a href="">International calls</a></li>
              <li><a href="">Roaming</a></li>
              <li><a href="">My Victory</a></li>
            </ul>
          </nav>
          <nav class="about"><strong><a href="">About</a></strong>
            <ul>
              <li><a href="">About company</a></li>
              <li><a href="">Terms of use</a></li>
              <li><a href="">News</a></li>
              <li><a href="">Press center</a></li>
              <li><a href="">Our network</a></li>
              <li><a href="">Contacts</a></li>
            </ul>
          </nav>
          <nav class="stores"><strong><a href="">Our stores</a></strong></nav>
          <nav class="sitemap"><strong><a href="">Site map</a></strong></nav>
        </div>
        <div class="mobile-langs">
          <ul>
            <li class="active"><a href="#">Ukr</a></li>
            <li><a href="#">Rus</a></li>
            <li><a href="#">Eng</a></li>
          </ul>
        </div>
        <div class="mixed">
          <div class="external-links"><span>Приєднуйтеся до нас у соціальних мережах</span><a href="https://www.instagram.com/vodafone_ukraine/" target="_blank" class="instagram"></a><a href="https://vk.com/vfukraine" target="_blank" class="vkontakte"></a><a href="https://www.facebook.com/VFUkraine/" target="_blank" class="facebook"></a><a href="https://twitter.com/Vodafone_UA" target="_blank" class="twitter"></a><a href="https://www.youtube.com/channel/UCca4LDwZ0UFczThXXqMa0BA" target="_blank" class="youtube"></a></div>
          <div class="copyrights">© Victory. Всі права захищені.</div>
        </div>
      </div>
    </footer>
    <script src="/js/scripts.js"></script>
  </body>
</html>

assets/jade/pages/rik-bez-abonplat.jade
extends ../layouts/inner

block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span Приватним клієнтам
                    li: a(href="#"): span Тарифи
                    li: strong Тарифи передплата

block content

    .page-title-container
        h1.page-title Рік без абонплат

    .inner-content-container.white_columns

        .row.clearfix
            .new_tarif-banners.columns-2.custom_style1
                .item
                    .item-content
                        .item-features
                            .item-title Рік без абонплат<br> Vodafone Red XS
                            ul
                                li
                                    .icon(style="background-image:url('/img/tarif/icon-3g.png')")
                                    | 1 ГБ
                                li
                                    .icon(style="background-image:url('/img/tarif/icon-unlimit.png')")
                                    | Безліміт на дзвінки в мережі
                            ul
                                li
                                    .icon(style="background-image:url('/img/tarif/icon-phone.png')")
                                    | 30 хв по Україні
                                li
                                    .icon(style="background-image:url('/img/tarif/icon-message.png')")
                                    | 30 SMS&amp;MMS по Україні
                        .item-advantages
                            .title Переваги:
                            ul
                                li <strong>12 міс</strong> Вільного спілкування з абонентами по Україні
                                li <strong>12 міс</strong> Без обов’язкових щомісячних платежів та поповнень
                                li <strong>30 %</strong> Економії
                        .item-bottom
                            .item-price <span>360</span><br>грн/рік
                        .item-connect Пiдключити <strike>*365#</strike>
                .item
                    .item-content
                        .item-features
                            .item-title Рік без оплат<br> Vodafone Light
                            ul
                                li
                                    .icon(style="background-image:url('/img/tarif/icon-unlimit.png')")
                                    | Безліміт на дзвінки в мережі
                        .item-advantages
                            .title Переваги:
                            ul
                                li <strong>12 міс</strong> Вільного спілкування в мережі Vodafone Україна та МТС Україна
                                li <strong>12 міс</strong> Без оплат
                                li <strong>50 %</strong> Економії
                        .item-bottom
                            .item-price <span>360</span><br>грн/рік
                        .item-connect Пiдключити <strike>*365#</strike>

        .row.clearfix
            .row
                .container
                    .column.full
                        | Послуга діє 365 днів з моменту її активації. Вартість послуги знімається під час її підключення. Перевірити термін дії послуги у тарифі - <strike>*365*1#</strike>

        .row.clearfix
            .accordion
                .panel.expanded
                    .title: .container: .column.full Як пiдключити Vodafone Red XS
                    .content: .container: .column.full
                        p Після здійснення першого дзвінка у тарифі Vodafone Red XS або після переходу з будь-яких тарифів Vodafone Передплата та МТС Україна Передплата, Ви маєте можливість протягом перших 7 днів підключити послугу «Рік без абонплат» за спеціальною вартістю.
                        .table-wrap.custom_style1
                            div
                                table
                                    tr
                                        th Спеціальна вартість
                                        th Термін дії пропозиції
                                        th Підключення
                                        th Статус послуги
                                    tr
                                        td: .color_red 360 грн
                                        td
                                            .color_red 7 днів
                                            .fsz16 після здійснення 1-го дзвінка<br> чи переходу у тариф
                                        td: strike *365*1#
                                        td: strike *365*1#

                        blockquote
                            br
                            p Тарифи діють на території України.
                            p Тарифи вказані y гривнях з урахуванням ПДВ та збору до Пенсійного фонду, який становить 7,5% від вартості послуг без ПДВ, станом на 01.08.2016 року.
                            p Вартість дзвінків вказано за першу секунду кожної хвилини розмови.   Мінімальний строк дії тарифу — 30 днів із моменту його введення. 
                            p Детальну інформацію щодо тарифів, акцій, вартості та умов надання послуг можна отримати за телефонами: 
                            p <strong>111</strong>  — безкоштовно з мобільного Vodafone Україна  в Україні; 
                            p <strong>0800 400  111</strong>  — консультація щодо тарифів та послуг Vodafone Україна для абонентів інших операторів України (безкоштовно з будь-якого номера в Україні).
                            p ПрАТ «МТС УКРАЇНА», 01601, м. Київ, вул. Лейпцизька, 15, у реєстрі операторів, провайдерів телекомунікацій № 47.
