assets/jade/pages/roaming.jade
extends ../layouts/inner
block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span About
                    li: a(href="#"): span News
            //-nav.inner-menu
                ul
                    li: a(href="#") About Victory
                    li: a(href="#") Rules
                    li.active: a(href="#") News
                    li: a(href="#") Press Room
                    li: a(href="#") Our network
        .roaming-page-title-container
            .select-type
                a.active(href="#") Prepayment
                a(href="#") Contract
            h1.page-title Roaming
block content
    .inner-content-container.transparent.roaming
        .block: .column.full: .container
            p Роумінг без обмежень - дзвінки, Інтернет, SMS&MMS у мережах Vodafone в Європі в Вашому тарифі.
            img.map(src="http://www.fillmurray.com/900/600")
            h3 Подорожуйте Європою з послугою «Роумінг як вдома» 
            .roaming
                table
                    col
                    col.accent
                    col
                    col
                    thead
                        td: column «Роумінг як вдома» на 30 днів
                        td: column Вартість на 30 днів 
                        td: column Замовити 
                        td: column Перевірити
                    tbody
                        td: column
                            ul
                                li Безлімітні всі вхідні дзвінки  
                                li Безлімітні дзвінки на номери абонентів Vodafone та МТС-Україна в Україні 
                                li  7 ГБ мобільного Інтернету  
                                li Безлімітний доступ до Facebook, Instagram, Twitter,  Viber, WhatsApp 
                                li 150 хвилин та 150 SMS&MMS на всі мережі України та Європи (країни Vodafone)
                        td: column
                            .price
                                strong 450
                                span грн<br>мic
                            | Red XL у роумінгу (країни Vodafone)
                        td: column: kbd *600#
                        td: column: kbd *600#1 
            p.signature.
                Після використання пакету хвилин будуть діяти наступні тарифи: мобільний Інтернет – 500 МБ/10 грн, 
                дзвінки по Європі (країни Vodafone) – 0,50 грн/хв., дзвінки на інші мережі України – 10 грн/хв., 
                дзвінки на всі інші напрямки світу – 50 грн/хв., SMS&MMS – 0,50 грн/хв.
            p Послуга «Роумінг як вдома» діє тільки на території Європи (країни Vodafone) при реєстрації в мережі Vodafone. 
        .block.countries
            .accordion
                .panel
                    .title: .container: .column.full Країни Vodafone в Європі 
                    .content: .container: .column.full
                        ul
                            li Італія 
                            li Німеччина 
                            li Чеська Республіка 
                            li Іспанія 
                            li Португалія 
                            li Угорщина 
                            li Великобританія 
                            li Греція 
                            li Нідерланди 
                            li Мальта 
                            li Ірландія 
                            li Албанія 
                            li Румунія 
                            li Туреччина 
        .block.tariffs
            .accordion
                .panel
                    .title: .container: .column.full Дзвінки, SMS&MMS на інші міжнародні напрямки  
                    .content: .container: .column.full
                        table.striped
                            thead
                                tr
                                    td Країна
                                    td Код країни 
                                    td Вартість хвилини розмови
                            tbody
                                col
                                col
                                col
                                each index in [1, 2, 3, 4, 5]
                                    tr
                                        th Австралія
                                        td (+61) 
                                        td 1 грн

static/html/roaming.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Site title</title>
    <link rel="stylesheet" href="/fonts/vodafone/stylesheet.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/fav/57x57.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/fav/114x114.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/fav/72x72.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/fav/144x144.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/img/fav/60x60.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/img/fav/120x120.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/fav/76x76.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/img/fav/152x152.png"/>
    <link rel="icon" type="image/png" href="/img/fav/16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/img/fav/32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/fav/96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/img/fav/160x160.png" sizes="160x160"/>
    <link rel="icon" type="image/png" href="/img/fav/196x196.png" sizes="196x196"/>
    <meta name="msapplication-TileColor" content="#fff"/>
    <meta name="msapplication-TileImage" content="/img/fav/144x144.png"/>
    <script src="/vendor/promise-ajax-js/promise.min.js"></script>
    <script src="/vendor/velocity/velocity.min.js"></script>
    <script src="/vendor/hammer.js/hammer.min.js"></script>
    <script>document.createElement("picture");</script>
    <script src="/vendor/picturefill/dist/picturefill.min.js" async="async"></script>
    <meta property="og:url" content="http://example.com"/>
    <meta property="og:title" content="Site title"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content="http://example.com/img/fb_share.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Site title"/>
    <meta property="fb:app_id" content=""/>
    <!--+vk_init('')-->
    <!--+ga('')-->
  </head>
  <body><!--[if lt IE 9]>
    <style>
      body {
          overflow: hidden
      }
    </style>
    <div id="oldie" class="oldie">
      <div class="txt">Your browser is too old, outdated and insecure.<br>Please update</div>
    </div><![endif]-->
    <!--+facebook_init('')-->
    <header id="header">
      <nav class="global-menu">
        <div class="container">
          <ul class="sections">
            <li class="active"><a href="#">Private</a></li>
            <li><a href="#">Business</a></li>
          </ul>
          <ul class="mixed">
            <li class="dropdown active"><span>About</span>
              <ul>
                <li><a href="#">About Victory</a></li>
                <li><a href="#">Rules</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Press Room</a></li>
                <li><a href="#">Our network</a></li>
              </ul>
            </li>
            <li><a href="#">Stores</a></li>
            <li class="dropdown"><span>My Vodafone</span>
              <ul class="centered">
                <li><a href="#">Private</a></li>
                <li><a href="#">Business</a></li>
              </ul>
            </li>
            <li class="separator">&nbsp;</li>
            <li class="dropdown"><span>Eng</span>
              <ul class="righted">
                <li><a href="#">Українська</a></li>
                <li><a href="#">Русский</a></li>
                <li class="active"><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="highlighter">
          <div class="tip"></div>
        </div>
      </nav>
      <div class="promo-section">
        <div class="section-menu-container">
          <div class="logo">
            <div class="romb"></div><img src="/img/logo.png"/>
          </div>
          <button class="burger"></button>
          <nav class="section-menu">
            <button class="search-button"></button>
            <button class="lang-button">Eng</button>
            <button class="location-button"></button>
            <div class="main_menu">
              <div class="sections">
                <div class="confirm show">
                  <div>
                    <p>Ви дійсно знаходитесь в {region}?</p>
                    <p>
                      <span class="yes">Так, все вірно</span>
                      <span class="no">Ні, змінити регіон</span>
                    </p>
                  </div>
                </div>
                <ul>
                  <li class="active"><a href="#" data-section="private">Private</a></li>
                  <li><a href="#" data-section="business">Business</a></li>
                  <li><a href="#" data-section="about">About</a></li>
                </ul>
              </div>
              <ul class="menu-list private current">
                <li class="dropdown"><span>Tariffs</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Prepaid</a></li>
                      <li><a href="#">Contract</a></li>
                      <li><a href="#">Inner</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Internet</a></li>
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
                <li class="dropdown has-banner"><span>Services</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Recharge account</a></li>
                      <li><a href="#">Transfer money</a></li>
                      <li><a href="#">"INFO" service</a></li>
                      <li><a href="#">"GOOD-OK" service</a></li>
                      <li><a href="#">"CLICK" service</a></li>
                    </ul>
                    <ul>
                      <li><a href="#">Recharge account</a></li>
                      <li><a href="#">Transfer money</a></li>
                      <li><a href="#">"INFO" service</a></li>
                    </ul>
                    <div class="banner">
                      <div class="cnt"></div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="menu-list business">
                <li class="dropdown"><span>Tariffs</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Prepaid</a></li>
                      <li><a href="#">Contract</a></li>
                      <li><a href="#">Inner</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Internet</a></li>
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
              </ul>
              <ul class="menu-list about">
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
              </ul>
              <button class="close">Close</button>
            </div>
            <div class="search">
              <form action="#" method="post">
                <div class="submit-wrap">
                  <button type="submit" class="submit"><span>Search</span></button>
                </div>
                <div class="search-input-wrap">
                  <input type="search" placeholder="Search..." class="search-input"/>
                </div>
              </form>
              <button class="close">Close</button>
            </div>
            <div class="langs">
              <ul>
                <li><a href="">Українська</a></li>
                <li><a href="">Русский</a></li>
                <li class="active"><a href="">English</a></li>
              </ul>
              <button class="close">Close</button>
            </div>
            <div class="locations">
              <div class="wrap">
                <ul>
                  <li><span>Украина</span></li>
                  <li><a href="1">Дніпропетровська область</a>
                    <ul>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                    </ul>
                  </li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                </ul>
              </div>
              <button class="close">Close</button>
            </div>
          </nav>
        </div>
        <div class="inner-info-container">
          <div class="wrap">
            <div class="inner-navs">
              <nav class="bread-crumps">
                <ul>
                  <li class="home"><a href="/"><span>Home</span></a></li>
                  <li><a href="#"><span>About</span></a></li>
                  <li><a href="#"><span>News</span></a></li>
                </ul>
              </nav>
            </div>
            <div class="roaming-page-title-container">
              <div class="select-type"><a href="#" class="active">Prepayment</a><a href="#">Contract</a></div>
              <h1 class="page-title">Roaming</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="container">
      <div class="inner-content-container transparent roaming">
        <div class="block">
          <div class="column full">
            <div class="container">
              <p>Роумінг без обмежень - дзвінки, Інтернет, SMS&MMS у мережах Vodafone в Європі в Вашому тарифі.</p><img src="http://www.fillmurray.com/900/600" class="map"/>
              <h3>Подорожуйте Європою з послугою «Роумінг як вдома» </h3>
              <div class="roaming">
                <table>
                  <col/>
                  <col class="accent"/>
                  <col/>
                  <col/>
                  <thead>
                    <td>
                      <column>«Роумінг як вдома» на 30 днів</column>
                    </td>
                    <td>
                      <column>Вартість на 30 днів </column>
                    </td>
                    <td>
                      <column>Замовити </column>
                    </td>
                    <td>
                      <column>Перевірити</column>
                    </td>
                  </thead>
                  <tbody>
                    <td>
                      <column>
                        <ul>
                          <li>Безлімітні всі вхідні дзвінки  </li>
                          <li>Безлімітні дзвінки на номери абонентів Vodafone та МТС-Україна в Україні </li>
                          <li> 7 ГБ мобільного Інтернету  </li>
                          <li>Безлімітний доступ до Facebook, Instagram, Twitter,  Viber, WhatsApp </li>
                          <li>150 хвилин та 150 SMS&MMS на всі мережі України та Європи (країни Vodafone)</li>
                        </ul>
                      </column>
                    </td>
                    <td>
                      <column>
                        <div class="price"><strong>450</strong><span>грн<br>мic</span></div>Red XL у роумінгу (країни Vodafone)
                      </column>
                    </td>
                    <td>
                      <column><kbd>*600#</kbd></column>
                    </td>
                    <td>
                      <column><kbd>*600#1 </kbd></column>
                    </td>
                  </tbody>
                </table>
              </div>
              <p class="signature">
                Після використання пакету хвилин будуть діяти наступні тарифи: мобільний Інтернет – 500 МБ/10 грн, 
                дзвінки по Європі (країни Vodafone) – 0,50 грн/хв., дзвінки на інші мережі України – 10 грн/хв., 
                дзвінки на всі інші напрямки світу – 50 грн/хв., SMS&MMS – 0,50 грн/хв.
              </p>
              <p>Послуга «Роумінг як вдома» діє тільки на території Європи (країни Vodafone) при реєстрації в мережі Vodafone. </p>
            </div>
          </div>
        </div>
        <div class="block countries">
          <div class="accordion">
            <div class="panel">
              <div class="title">
                <div class="container">
                  <div class="column full">Країни Vodafone в Європі </div>
                </div>
              </div>
              <div class="content">
                <div class="container">
                  <div class="column full">
                    <ul>
                      <li>Італія </li>
                      <li>Німеччина </li>
                      <li>Чеська Республіка </li>
                      <li>Іспанія </li>
                      <li>Португалія </li>
                      <li>Угорщина </li>
                      <li>Великобританія </li>
                      <li>Греція </li>
                      <li>Нідерланди </li>
                      <li>Мальта </li>
                      <li>Ірландія </li>
                      <li>Албанія </li>
                      <li>Румунія </li>
                      <li>Туреччина </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block tariffs">
          <div class="accordion">
            <div class="panel">
              <div class="title">
                <div class="container">
                  <div class="column full">Дзвінки, SMS&MMS на інші міжнародні напрямки  </div>
                </div>
              </div>
              <div class="content">
                <div class="container">
                  <div class="column full">
                    <table class="striped">
                      <thead>
                        <tr>
                          <td>Країна</td>
                          <td>Код країни </td>
                          <td>Вартість хвилини розмови</td>
                        </tr>
                      </thead>
                      <tbody>
                        <col/>
                        <col/>
                        <col/>
                        <tr>
                          <th>Австралія</th>
                          <td>(+61) </td>
                          <td>1 грн</td>
                        </tr>
                        <tr>
                          <th>Австралія</th>
                          <td>(+61) </td>
                          <td>1 грн</td>
                        </tr>
                        <tr>
                          <th>Австралія</th>
                          <td>(+61) </td>
                          <td>1 грн</td>
                        </tr>
                        <tr>
                          <th>Австралія</th>
                          <td>(+61) </td>
                          <td>1 грн</td>
                        </tr>
                        <tr>
                          <th>Австралія</th>
                          <td>(+61) </td>
                          <td>1 грн</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="container">
        <div class="contact">
          Телефон служби підтримки: 
          <address>0 (800) 400-000</address> (безкоштовно з усіх мереж зв’язку України) 
          або <address>111</address> (безкоштовно в мережі МТС)
        </div>
        <div class="menu">
          <nav class="private"><strong><a href="">Private</a></strong>
            <ul>
              <li><a href="">Tariffs</a></li>
              <li><a href="">Internet</a></li>
              <li><a href="">International calls</a></li>
              <li><a href="">Roaming</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">My Victory</a></li>
            </ul>
          </nav>
          <nav class="business"><strong><a href="">Business</a></strong>
            <ul>
              <li><a href="">Tariffs</a></li>
              <li><a href="">Internet</a></li>
              <li><a href="">International calls</a></li>
              <li><a href="">Roaming</a></li>
              <li><a href="">My Victory</a></li>
            </ul>
          </nav>
          <nav class="about"><strong><a href="">About</a></strong>
            <ul>
              <li><a href="">About company</a></li>
              <li><a href="">Terms of use</a></li>
              <li><a href="">News</a></li>
              <li><a href="">Press center</a></li>
              <li><a href="">Our network</a></li>
              <li><a href="">Contacts</a></li>
            </ul>
          </nav>
          <nav class="stores"><strong><a href="">Our stores</a></strong></nav>
          <nav class="sitemap"><strong><a href="">Site map</a></strong></nav>
        </div>
        <div class="mobile-langs">
          <ul>
            <li class="active"><a href="#">Ukr</a></li>
            <li><a href="#">Rus</a></li>
            <li><a href="#">Eng</a></li>
          </ul>
        </div>
        <div class="mixed">
          <div class="external-links"><span>Приєднуйтеся до нас у соціальних мережах</span><a href="https://www.instagram.com/vodafone_ukraine/" target="_blank" class="instagram"></a><a href="https://vk.com/vfukraine" target="_blank" class="vkontakte"></a><a href="https://www.facebook.com/VFUkraine/" target="_blank" class="facebook"></a><a href="https://twitter.com/Vodafone_UA" target="_blank" class="twitter"></a><a href="https://www.youtube.com/channel/UCca4LDwZ0UFczThXXqMa0BA" target="_blank" class="youtube"></a></div>
          <div class="copyrights">© Victory. Всі права захищені.</div>
        </div>
      </div>
    </footer>
    <script src="/js/scripts.js"></script>
  </body>
</html>
