static/html/settings.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Site title</title>
    <link rel="stylesheet" href="/fonts/vodafone/stylesheet.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/fav/57x57.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/fav/114x114.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/fav/72x72.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/fav/144x144.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/img/fav/60x60.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/img/fav/120x120.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/fav/76x76.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/img/fav/152x152.png"/>
    <link rel="icon" type="image/png" href="/img/fav/16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/img/fav/32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/fav/96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/img/fav/160x160.png" sizes="160x160"/>
    <link rel="icon" type="image/png" href="/img/fav/196x196.png" sizes="196x196"/>
    <meta name="msapplication-TileColor" content="#fff"/>
    <meta name="msapplication-TileImage" content="/img/fav/144x144.png"/>
    <script src="/vendor/promise-ajax-js/promise.min.js"></script>
    <script src="/vendor/velocity/velocity.min.js"></script>
    <script src="/vendor/hammer.js/hammer.min.js"></script>
    <script>document.createElement("picture");</script>
    <script src="/vendor/picturefill/dist/picturefill.min.js" async="async"></script>
    <meta property="og:url" content="http://example.com"/>
    <meta property="og:title" content="Site title"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content="http://example.com/img/fb_share.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Site title"/>
    <meta property="fb:app_id" content=""/>
    <!--+vk_init('')-->
    <!--+ga('')-->
  </head>
  <body><!--[if lt IE 9]>
    <style>
      body {
          overflow: hidden
      }
    </style>
    <div id="oldie" class="oldie">
      <div class="txt">Your browser is too old, outdated and insecure.<br>Please update</div>
    </div><![endif]-->
    <!--+facebook_init('')-->
    <header id="header">
      <nav class="global-menu">
        <div class="container">
          <ul class="sections">
            <li class="active"><a href="#">Private</a></li>
            <li><a href="#">Business</a></li>
          </ul>
          <ul class="mixed">
            <li class="dropdown active"><span>About</span>
              <ul>
                <li><a href="#">About Victory</a></li>
                <li><a href="#">Rules</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Press Room</a></li>
                <li><a href="#">Our network</a></li>
              </ul>
            </li>
            <li><a href="#">Stores</a></li>
            <li class="dropdown"><span>My Vodafone</span>
              <ul class="centered">
                <li><a href="#">Private</a></li>
                <li><a href="#">Business</a></li>
              </ul>
            </li>
            <li class="separator">&nbsp;</li>
            <li class="dropdown"><span>Eng</span>
              <ul class="righted">
                <li><a href="#">Українська</a></li>
                <li><a href="#">Русский</a></li>
                <li class="active"><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="highlighter">
          <div class="tip"></div>
        </div>
      </nav>
      <div class="promo-section">
        <div class="section-menu-container">
          <div class="logo">
            <div class="romb"></div><img src="/img/logo.png"/>
          </div>
          <button class="burger"></button>
          <nav class="section-menu">
            <button class="search-button"></button>
            <button class="lang-button">Eng</button>
            <button class="location-button"></button>
            <div class="main_menu">
              <div class="sections">
                <div class="confirm show">
                  <div>
                    <p>Ви дійсно знаходитесь в {region}?</p>
                    <p>
                      <span class="yes">Так, все вірно</span>
                      <span class="no">Ні, змінити регіон</span>
                    </p>
                  </div>
                </div>
                <ul>
                  <li class="active"><a href="#" data-section="private">Private</a></li>
                  <li><a href="#" data-section="business">Business</a></li>
                  <li><a href="#" data-section="about">About</a></li>
                </ul>
              </div>
              <ul class="menu-list private current">
                <li class="dropdown"><span>Tariffs</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Prepaid</a></li>
                      <li><a href="#">Contract</a></li>
                      <li><a href="#">Inner</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Internet</a></li>
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
                <li class="dropdown has-banner"><span>Services</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Recharge account</a></li>
                      <li><a href="#">Transfer money</a></li>
                      <li><a href="#">"INFO" service</a></li>
                      <li><a href="#">"GOOD-OK" service</a></li>
                      <li><a href="#">"CLICK" service</a></li>
                    </ul>
                    <ul>
                      <li><a href="#">Recharge account</a></li>
                      <li><a href="#">Transfer money</a></li>
                      <li><a href="#">"INFO" service</a></li>
                    </ul>
                    <div class="banner">
                      <div class="cnt"></div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="menu-list business">
                <li class="dropdown"><span>Tariffs</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Prepaid</a></li>
                      <li><a href="#">Contract</a></li>
                      <li><a href="#">Inner</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Internet</a></li>
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
              </ul>
              <ul class="menu-list about">
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
              </ul>
              <button class="close">Close</button>
            </div>
            <div class="search">
              <form action="#" method="post">
                <div class="submit-wrap">
                  <button type="submit" class="submit"><span>Search</span></button>
                </div>
                <div class="search-input-wrap">
                  <input type="search" placeholder="Search..." class="search-input"/>
                </div>
              </form>
              <button class="close">Close</button>
            </div>
            <div class="langs">
              <ul>
                <li><a href="">Українська</a></li>
                <li><a href="">Русский</a></li>
                <li class="active"><a href="">English</a></li>
              </ul>
              <button class="close">Close</button>
            </div>
            <div class="locations">
              <div class="wrap">
                <ul>
                  <li><span>Украина</span></li>
                  <li><a href="1">Дніпропетровська область</a>
                    <ul>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                    </ul>
                  </li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                </ul>
              </div>
              <button class="close">Close</button>
            </div>
          </nav>
        </div>
        <div class="inner-info-container">
          <div class="wrap">
            <div class="inner-navs">
              <nav class="bread-crumps">
                <ul>
                  <li class="home"><a href="/"><span>Home</span></a></li>
                  <li><a href="#"><span>About</span></a></li>
                  <li><a href="#"><span>News</span></a></li>
                </ul>
              </nav>
              <nav class="inner-menu">
                <ul>
                  <li><a href="#">About Victory</a></li>
                  <li><a href="#">Rules</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Press Room</a></li>
                  <li><a href="#">Our network</a></li>
                </ul>
              </nav>
            </div>
            <h1 class="page-title">Settings</h1>
          </div>
        </div>
      </div>
    </header>
    <section id="container">
      <div class="inner-content-container transparent settings">
        <div class="block">
          <div class="container settings">
            <div class="column full">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet purus sollicitudin nulla interdum
              interdum. Suspendisse dapibus, justo bibendum posuere lobortis, ipsum lacus lacinia sapien, sed interdum
              est tellus quis augue. Maecenas porttitor, metus a sollicitudin molestie, mauris nisi convallis mauris,
              vel viverra sapien quam eu mauris. Integer vulputate iaculis molestie. Fusce posuere, sem sed interdum
              feugiat, elit nunc ullamcorper nunc, eu semper magna nisi ut mi. Nulla facilisi. Suspendisse quis erat
              sit amet libero pellentesque iaculis mollis eget dolor. Nam tempus dapibus ante et fringilla.
              Morbi accumsan lectus sed eros convallis vulputate. Aenean iaculis in urna eu mattis. Donec a sem eget
              turpis blandit egestas. Cras non enim dolor. Pellentesque hendrerit purus non lectus suscipit,
              non varius sapien vestibulum.
              
              
              
            </div>
          </div>
        </div>
        <div class="block">
          <div class="container slim">
            <div class="column full">
              <div class="variants-selector tabs-switch"><a href="#settings-auto" class="active">Автоматичнi</a><a href="#settings-manual">Ручнi</a></div>
              <h1 class="page-title">Налаштування 3G</h1>
              <div class="important">Усi поля обов'язкові для заповнення поля.</div>
            </div>
          </div>
          <div class="container">
            <div class="column full settings-content">
              <div id="settings-auto">
                <form action="#">
                  <div class="num">
                    <div class="label">Номер Вашого мобільного телефону</div>
                    <div class="group"><span>+38</span>
                      <div class="select">
                        <select name="code" class="code">
                          <option value="099">099</option>
                        </select>
                      </div>
                      <div class="input">
                        <input type="text" name="num" maxlength="7"/>
                      </div>
                    </div>
                  </div>
                  <div class="captcha">
                    <div class="label">Номер на картинцi</div>
                    <div class="group"><img src="http://lorempixel.com/80/45/"/>
                      <input type="text" name="captcha" maxlength="4"/>
                    </div>
                  </div>
                  <div class="submit">
                    <button type="submit" class="btn primary">Надiслати налаштування</button>
                  </div>
                  <div class="response">
                    <button type="reset" class="close">x</button>
                    <div class="content"></div>
                  </div>
                </form>
                <div class="agreement">
                  <p>
                    Натискаючи кнопку «Відправити», Ви погоджуєтесь на обробку Ваших персональних даних та / або
                    передачу її третім особам для цілей, пов'язаних з її заповненням,
                    а також маркетингових цілей. <a class="trigger" href="#expand">Детальніше</a>
                  </p>
                  <div style="display: none" class="details">
                    <h3>Угода</h3>
                    <p>Заповненням цієї реєстраційної форми Абонент надає свою згоду на обробку його персональних даних та/або передачу їх третім особам для цілей, пов'язаних з їх зберіганням, а також маркетингових цілей (включаючи, але не обмежуючись, отримання винагород та подарунків по акціям та програмам лояльності ПрАТ «MTC УКРАЇНА», отримання рекламної інформації від ПрАТ «MTC УКРАЇНА» та/або партнерів з використанням вказаних даних).</p>
                    <p>Заповненням цієї реєстраційної форми Абонент надає згоду на обробку своїх персональних даних з використанням засобів автоматизації та/або без таких ПрАТ «МТС УКРАЇНА» самостійно та/або розпорядником бази персональних даних за дорученням ПрАТ «МТС УКРАЇНА», а також погоджуюся, що ПрАТ «МТС Україна» може передавати мої персональні дані третім особам відповідно до закону або змісту цієї реєстраційної форми.</p>
                    <p>Підтверджую, що заповнивши цю реєстраційну форму я проінформований про внесення моїх персональних до бази персональних даних ПрАТ «МТС Україна», а також про свої права та осіб, яким передаються мої персональні дані відповідно до Закону України «Про захист персональних даних».</p>
                  </div>
                </div>
              </div>
              <div id="settings-manual">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet purus sollicitudin nulla interdum
                interdum. Suspendisse dapibus, justo bibendum posuere lobortis, ipsum lacus lacinia sapien, sed interdum
                est tellus quis augue. Maecenas porttitor, metus a sollicitudin molestie, mauris nisi convallis mauris,
                vel viverra sapien quam eu mauris. Integer vulputate iaculis molestie. Fusce posuere, sem sed interdum
                feugiat, elit nunc ullamcorper nunc, eu semper magna nisi ut mi. Nulla facilisi. Suspendisse quis erat
                sit amet libero pellentesque iaculis mollis eget dolor. Nam tempus dapibus ante et fringilla.
                Morbi accumsan lectus sed eros convallis vulputate. Aenean iaculis in urna eu mattis. Donec a sem eget
                turpis blandit egestas. Cras non enim dolor. Pellentesque hendrerit purus non lectus suscipit,
                non varius sapien vestibulum.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="container">
        <div class="contact">
          Телефон служби підтримки: 
          <address>0 (800) 400-000</address> (безкоштовно з усіх мереж зв’язку України) 
          або <address>111</address> (безкоштовно в мережі МТС)
        </div>
        <div class="menu">
          <nav class="private"><strong><a href="">Private</a></strong>
            <ul>
              <li><a href="">Tariffs</a></li>
              <li><a href="">Internet</a></li>
              <li><a href="">International calls</a></li>
              <li><a href="">Roaming</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">My Victory</a></li>
            </ul>
          </nav>
          <nav class="business"><strong><a href="">Business</a></strong>
            <ul>
              <li><a href="">Tariffs</a></li>
              <li><a href="">Internet</a></li>
              <li><a href="">International calls</a></li>
              <li><a href="">Roaming</a></li>
              <li><a href="">My Victory</a></li>
            </ul>
          </nav>
          <nav class="about"><strong><a href="">About</a></strong>
            <ul>
              <li><a href="">About company</a></li>
              <li><a href="">Terms of use</a></li>
              <li><a href="">News</a></li>
              <li><a href="">Press center</a></li>
              <li><a href="">Our network</a></li>
              <li><a href="">Contacts</a></li>
            </ul>
          </nav>
          <nav class="stores"><strong><a href="">Our stores</a></strong></nav>
          <nav class="sitemap"><strong><a href="">Site map</a></strong></nav>
        </div>
        <div class="mobile-langs">
          <ul>
            <li class="active"><a href="#">Ukr</a></li>
            <li><a href="#">Rus</a></li>
            <li><a href="#">Eng</a></li>
          </ul>
        </div>
        <div class="mixed">
          <div class="external-links"><span>Приєднуйтеся до нас у соціальних мережах</span><a href="https://www.instagram.com/vodafone_ukraine/" target="_blank" class="instagram"></a><a href="https://vk.com/vfukraine" target="_blank" class="vkontakte"></a><a href="https://www.facebook.com/VFUkraine/" target="_blank" class="facebook"></a><a href="https://twitter.com/Vodafone_UA" target="_blank" class="twitter"></a><a href="https://www.youtube.com/channel/UCca4LDwZ0UFczThXXqMa0BA" target="_blank" class="youtube"></a></div>
          <div class="copyrights">© Victory. Всі права захищені.</div>
        </div>
      </div>
    </footer>
    <script src="/js/scripts.js"></script>
  </body>
</html>

assets/jade/pages/settings.jade
extends ../layouts/inner

block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span About
                    li: a(href="#"): span News

            nav.inner-menu
                ul
                    li: a(href="#") About Victory
                    li: a(href="#") Rules
                    li: a(href="#") News
                    li: a(href="#") Press Room
                    li: a(href="#") Our network

        h1.page-title Settings

block content

    .inner-content-container.transparent.settings
        .block: .container.settings: .column.full.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet purus sollicitudin nulla interdum
            interdum. Suspendisse dapibus, justo bibendum posuere lobortis, ipsum lacus lacinia sapien, sed interdum
            est tellus quis augue. Maecenas porttitor, metus a sollicitudin molestie, mauris nisi convallis mauris,
            vel viverra sapien quam eu mauris. Integer vulputate iaculis molestie. Fusce posuere, sem sed interdum
            feugiat, elit nunc ullamcorper nunc, eu semper magna nisi ut mi. Nulla facilisi. Suspendisse quis erat
            sit amet libero pellentesque iaculis mollis eget dolor. Nam tempus dapibus ante et fringilla.
            Morbi accumsan lectus sed eros convallis vulputate. Aenean iaculis in urna eu mattis. Donec a sem eget
            turpis blandit egestas. Cras non enim dolor. Pellentesque hendrerit purus non lectus suscipit,
            non varius sapien vestibulum.



        .block
            .container.slim: .column.full
                .variants-selector.tabs-switch
                    a.active(href="#settings-auto") Автоматичнi
                    a(href="#settings-manual") Ручнi
                h1.page-title Налаштування 3G
                .important Усi поля обов'язкові для заповнення поля.

            .container: .column.full.settings-content
                #settings-auto
                    form(action="#")
                        .num
                            .label Номер Вашого мобільного телефону
                            .group
                                span +38
                                .select: select.code(name='code')
                                    option(value='099') 099
                                .input: input(type='text', name='num', maxlength=7)
                        .captcha
                            .label Номер на картинцi

                            .group
                                img(src="http://lorempixel.com/80/45/")
                                input(type='text', name='captcha', maxlength=4)

                        .submit
                            button.btn.primary(type="submit") Надiслати налаштування
                        .response
                            button(type="reset").close x
                            .content

                    .agreement
                        p.
                            Натискаючи кнопку «Відправити», Ви погоджуєтесь на обробку Ваших персональних даних та / або
                            передачу її третім особам для цілей, пов'язаних з її заповненням,
                            а також маркетингових цілей. <a class="trigger" href="#expand">Детальніше</a>
                        .details(style="display: none")
                            h3 Угода
                            p Заповненням цієї реєстраційної форми Абонент надає свою згоду на обробку його персональних даних та/або передачу їх третім особам для цілей, пов'язаних з їх зберіганням, а також маркетингових цілей (включаючи, але не обмежуючись, отримання винагород та подарунків по акціям та програмам лояльності ПрАТ «MTC УКРАЇНА», отримання рекламної інформації від ПрАТ «MTC УКРАЇНА» та/або партнерів з використанням вказаних даних).
                            p Заповненням цієї реєстраційної форми Абонент надає згоду на обробку своїх персональних даних з використанням засобів автоматизації та/або без таких ПрАТ «МТС УКРАЇНА» самостійно та/або розпорядником бази персональних даних за дорученням ПрАТ «МТС УКРАЇНА», а також погоджуюся, що ПрАТ «МТС Україна» може передавати мої персональні дані третім особам відповідно до закону або змісту цієї реєстраційної форми.
                            p Підтверджую, що заповнивши цю реєстраційну форму я проінформований про внесення моїх персональних до бази персональних даних ПрАТ «МТС Україна», а також про свої права та осіб, яким передаються мої персональні дані відповідно до Закону України «Про захист персональних даних».

                #settings-manual.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet purus sollicitudin nulla interdum
                    interdum. Suspendisse dapibus, justo bibendum posuere lobortis, ipsum lacus lacinia sapien, sed interdum
                    est tellus quis augue. Maecenas porttitor, metus a sollicitudin molestie, mauris nisi convallis mauris,
                    vel viverra sapien quam eu mauris. Integer vulputate iaculis molestie. Fusce posuere, sem sed interdum
                    feugiat, elit nunc ullamcorper nunc, eu semper magna nisi ut mi. Nulla facilisi. Suspendisse quis erat
                    sit amet libero pellentesque iaculis mollis eget dolor. Nam tempus dapibus ante et fringilla.
                    Morbi accumsan lectus sed eros convallis vulputate. Aenean iaculis in urna eu mattis. Donec a sem eget
                    turpis blandit egestas. Cras non enim dolor. Pellentesque hendrerit purus non lectus suscipit,
                    non varius sapien vestibulum.
