assets/jade/pages/shops.jade
extends ../layouts/inner

block scripts
    script#g-maps-api(src="https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js")

        
block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span About
                    li: a(href="#"): span News

            //-nav.inner-menu
                ul
                    li: a(href="#") About Victory
                    li: a(href="#") Rules
                    li.active: a(href="#") News
                    li: a(href="#") Press Room
                    li: a(href="#") Our network

        .shops-page-title-container
            .filter
                .region
                    label Регіон
                    .select: select
                        option Днепропетровская обл.
                .city
                    label Місто
                    .select: select
                        option Киев
                        
            h1.page-title Shops

block content
    .inner-content-container.shops
        each index in [1, 2, 3, 4, 5]
            article.shop-item
                .container: .row
                    button.print
                    .info.column.two-third
                        h1 Київ, <address>пр-т Академіка Глушкова 13 б</address>
                        ul
                            li <strong>Метро:</strong> Теремки
                            li <strong>Розташування магазину:</strong> кінцева зупинка маршруток Київ - Вишневе, неподалік від Акварелей
                        button.show-map На мапi
                    .time.column.third
                        h2 Час роботи
                        ul
                            li Пн-Пт 9:00-20:00
                            li Сб-Нд 10:00-19:00
                .map-container(data-lat="50.3679131", data-lng="30.458065799999986")
            
        .paginator: .container
            .bwd: a(href="#")
            .links
                each page in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                    a(href="#", class="#{page==1 ? 'active' : ''}") #{page}
            .fwd: a(href="#")

static/html/shops.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Site title</title>
    <link rel="stylesheet" href="/fonts/vodafone/stylesheet.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/fav/57x57.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/fav/114x114.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/fav/72x72.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/fav/144x144.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/img/fav/60x60.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/img/fav/120x120.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/fav/76x76.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/img/fav/152x152.png"/>
    <link rel="icon" type="image/png" href="/img/fav/16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/img/fav/32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/fav/96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/img/fav/160x160.png" sizes="160x160"/>
    <link rel="icon" type="image/png" href="/img/fav/196x196.png" sizes="196x196"/>
    <meta name="msapplication-TileColor" content="#fff"/>
    <meta name="msapplication-TileImage" content="/img/fav/144x144.png"/>
    <script src="/vendor/promise-ajax-js/promise.min.js"></script>
    <script src="/vendor/velocity/velocity.min.js"></script>
    <script src="/vendor/hammer.js/hammer.min.js"></script>
    <script>document.createElement("picture");</script>
    <script src="/vendor/picturefill/dist/picturefill.min.js" async="async"></script>
    <script id="g-maps-api" src="https://maps.googleapis.com/maps/api/js?key=&amp;sensor=false&amp;extension=.js"></script>
    <meta property="og:url" content="http://example.com"/>
    <meta property="og:title" content="Site title"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content="http://example.com/img/fb_share.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Site title"/>
    <meta property="fb:app_id" content=""/>
    <!--+vk_init('')-->
    <!--+ga('')-->
  </head>
  <body><!--[if lt IE 9]>
    <style>
      body {
          overflow: hidden
      }
    </style>
    <div id="oldie" class="oldie">
      <div class="txt">Your browser is too old, outdated and insecure.<br>Please update</div>
    </div><![endif]-->
    <!--+facebook_init('')-->
    <header id="header">
      <nav class="global-menu">
        <div class="container">
          <ul class="sections">
            <li class="active"><a href="#">Private</a></li>
            <li><a href="#">Business</a></li>
          </ul>
          <ul class="mixed">
            <li class="dropdown active"><span>About</span>
              <ul>
                <li><a href="#">About Victory</a></li>
                <li><a href="#">Rules</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Press Room</a></li>
                <li><a href="#">Our network</a></li>
              </ul>
            </li>
            <li><a href="#">Stores</a></li>
            <li class="dropdown"><span>My Vodafone</span>
              <ul class="centered">
                <li><a href="#">Private</a></li>
                <li><a href="#">Business</a></li>
              </ul>
            </li>
            <li class="separator">&nbsp;</li>
            <li class="dropdown"><span>Eng</span>
              <ul class="righted">
                <li><a href="#">Українська</a></li>
                <li><a href="#">Русский</a></li>
                <li class="active"><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="highlighter">
          <div class="tip"></div>
        </div>
      </nav>
      <div class="promo-section">
        <div class="section-menu-container">
          <div class="logo">
            <div class="romb"></div><img src="/img/logo.png"/>
          </div>
          <button class="burger"></button>
          <nav class="section-menu">
            <button class="search-button"></button>
            <button class="lang-button">Eng</button>
            <button class="location-button"></button>
            <div class="main_menu">
              <div class="sections">
                <div class="confirm show">
                  <div>
                    <p>Ви дійсно знаходитесь в {region}?</p>
                    <p>
                      <span class="yes">Так, все вірно</span>
                      <span class="no">Ні, змінити регіон</span>
                    </p>
                  </div>
                </div>
                <ul>
                  <li class="active"><a href="#" data-section="private">Private</a></li>
                  <li><a href="#" data-section="business">Business</a></li>
                  <li><a href="#" data-section="about">About</a></li>
                </ul>
              </div>
              <ul class="menu-list private current">
                <li class="dropdown"><span>Tariffs</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Prepaid</a></li>
                      <li><a href="#">Contract</a></li>
                      <li><a href="#">Inner</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Internet</a></li>
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
                <li class="dropdown has-banner"><span>Services</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Recharge account</a></li>
                      <li><a href="#">Transfer money</a></li>
                      <li><a href="#">"INFO" service</a></li>
                      <li><a href="#">"GOOD-OK" service</a></li>
                      <li><a href="#">"CLICK" service</a></li>
                    </ul>
                    <ul>
                      <li><a href="#">Recharge account</a></li>
                      <li><a href="#">Transfer money</a></li>
                      <li><a href="#">"INFO" service</a></li>
                    </ul>
                    <div class="banner">
                      <div class="cnt"></div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="menu-list business">
                <li class="dropdown"><span>Tariffs</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Prepaid</a></li>
                      <li><a href="#">Contract</a></li>
                      <li><a href="#">Inner</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Internet</a></li>
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
              </ul>
              <ul class="menu-list about">
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
              </ul>
              <button class="close">Close</button>
            </div>
            <div class="search">
              <form action="#" method="post">
                <div class="submit-wrap">
                  <button type="submit" class="submit"><span>Search</span></button>
                </div>
                <div class="search-input-wrap">
                  <input type="search" placeholder="Search..." class="search-input"/>
                </div>
              </form>
              <button class="close">Close</button>
            </div>
            <div class="langs">
              <ul>
                <li><a href="">Українська</a></li>
                <li><a href="">Русский</a></li>
                <li class="active"><a href="">English</a></li>
              </ul>
              <button class="close">Close</button>
            </div>
            <div class="locations">
              <div class="wrap">
                <ul>
                  <li><span>Украина</span></li>
                  <li><a href="1">Дніпропетровська область</a>
                    <ul>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                    </ul>
                  </li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                </ul>
              </div>
              <button class="close">Close</button>
            </div>
          </nav>
        </div>
        <div class="inner-info-container">
          <div class="wrap">
            <div class="inner-navs">
              <nav class="bread-crumps">
                <ul>
                  <li class="home"><a href="/"><span>Home</span></a></li>
                  <li><a href="#"><span>About</span></a></li>
                  <li><a href="#"><span>News</span></a></li>
                </ul>
              </nav>
            </div>
            <div class="shops-page-title-container">
              <div class="filter">
                <div class="region">
                  <label>Регіон</label>
                  <div class="select">
                    <select>
                      <option>Днепропетровская обл.</option>
                    </select>
                  </div>
                </div>
                <div class="city">
                  <label>Місто</label>
                  <div class="select">
                    <select>
                      <option>Киев</option>
                    </select>
                  </div>
                </div>
              </div>
              <h1 class="page-title">Shops</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="container">
      <div class="inner-content-container shops">
        <article class="shop-item">
          <div class="container">
            <div class="row">
              <button class="print"></button>
              <div class="info column two-third">
                <h1>Київ, <address>пр-т Академіка Глушкова 13 б</address></h1>
                <ul>
                  <li><strong>Метро:</strong> Теремки</li>
                  <li><strong>Розташування магазину:</strong> кінцева зупинка маршруток Київ - Вишневе, неподалік від Акварелей</li>
                </ul>
                <button class="show-map">На мапi</button>
              </div>
              <div class="time column third">
                <h2>Час роботи</h2>
                <ul>
                  <li>Пн-Пт 9:00-20:00</li>
                  <li>Сб-Нд 10:00-19:00</li>
                </ul>
              </div>
            </div>
          </div>
          <div data-lat="50.3679131" data-lng="30.458065799999986" class="map-container"></div>
        </article>
        <article class="shop-item">
          <div class="container">
            <div class="row">
              <button class="print"></button>
              <div class="info column two-third">
                <h1>Київ, <address>пр-т Академіка Глушкова 13 б</address></h1>
                <ul>
                  <li><strong>Метро:</strong> Теремки</li>
                  <li><strong>Розташування магазину:</strong> кінцева зупинка маршруток Київ - Вишневе, неподалік від Акварелей</li>
                </ul>
                <button class="show-map">На мапi</button>
              </div>
              <div class="time column third">
                <h2>Час роботи</h2>
                <ul>
                  <li>Пн-Пт 9:00-20:00</li>
                  <li>Сб-Нд 10:00-19:00</li>
                </ul>
              </div>
            </div>
          </div>
          <div data-lat="50.3679131" data-lng="30.458065799999986" class="map-container"></div>
        </article>
        <article class="shop-item">
          <div class="container">
            <div class="row">
              <button class="print"></button>
              <div class="info column two-third">
                <h1>Київ, <address>пр-т Академіка Глушкова 13 б</address></h1>
                <ul>
                  <li><strong>Метро:</strong> Теремки</li>
                  <li><strong>Розташування магазину:</strong> кінцева зупинка маршруток Київ - Вишневе, неподалік від Акварелей</li>
                </ul>
                <button class="show-map">На мапi</button>
              </div>
              <div class="time column third">
                <h2>Час роботи</h2>
                <ul>
                  <li>Пн-Пт 9:00-20:00</li>
                  <li>Сб-Нд 10:00-19:00</li>
                </ul>
              </div>
            </div>
          </div>
          <div data-lat="50.3679131" data-lng="30.458065799999986" class="map-container"></div>
        </article>
        <article class="shop-item">
          <div class="container">
            <div class="row">
              <button class="print"></button>
              <div class="info column two-third">
                <h1>Київ, <address>пр-т Академіка Глушкова 13 б</address></h1>
                <ul>
                  <li><strong>Метро:</strong> Теремки</li>
                  <li><strong>Розташування магазину:</strong> кінцева зупинка маршруток Київ - Вишневе, неподалік від Акварелей</li>
                </ul>
                <button class="show-map">На мапi</button>
              </div>
              <div class="time column third">
                <h2>Час роботи</h2>
                <ul>
                  <li>Пн-Пт 9:00-20:00</li>
                  <li>Сб-Нд 10:00-19:00</li>
                </ul>
              </div>
            </div>
          </div>
          <div data-lat="50.3679131" data-lng="30.458065799999986" class="map-container"></div>
        </article>
        <article class="shop-item">
          <div class="container">
            <div class="row">
              <button class="print"></button>
              <div class="info column two-third">
                <h1>Київ, <address>пр-т Академіка Глушкова 13 б</address></h1>
                <ul>
                  <li><strong>Метро:</strong> Теремки</li>
                  <li><strong>Розташування магазину:</strong> кінцева зупинка маршруток Київ - Вишневе, неподалік від Акварелей</li>
                </ul>
                <button class="show-map">На мапi</button>
              </div>
              <div class="time column third">
                <h2>Час роботи</h2>
                <ul>
                  <li>Пн-Пт 9:00-20:00</li>
                  <li>Сб-Нд 10:00-19:00</li>
                </ul>
              </div>
            </div>
          </div>
          <div data-lat="50.3679131" data-lng="30.458065799999986" class="map-container"></div>
        </article>
        <div class="paginator">
          <div class="container">
            <div class="bwd"><a href="#"></a></div>
            <div class="links"><a href="#" class="active">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#">10</a>
            </div>
            <div class="fwd"><a href="#"></a></div>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="container">
        <div class="contact">
          Телефон служби підтримки: 
          <address>0 (800) 400-000</address> (безкоштовно з усіх мереж зв’язку України) 
          або <address>111</address> (безкоштовно в мережі МТС)
        </div>
        <div class="menu">
          <nav class="private"><strong><a href="">Private</a></strong>
            <ul>
              <li><a href="">Tariffs</a></li>
              <li><a href="">Internet</a></li>
              <li><a href="">International calls</a></li>
              <li><a href="">Roaming</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">My Victory</a></li>
            </ul>
          </nav>
          <nav class="business"><strong><a href="">Business</a></strong>
            <ul>
              <li><a href="">Tariffs</a></li>
              <li><a href="">Internet</a></li>
              <li><a href="">International calls</a></li>
              <li><a href="">Roaming</a></li>
              <li><a href="">My Victory</a></li>
            </ul>
          </nav>
          <nav class="about"><strong><a href="">About</a></strong>
            <ul>
              <li><a href="">About company</a></li>
              <li><a href="">Terms of use</a></li>
              <li><a href="">News</a></li>
              <li><a href="">Press center</a></li>
              <li><a href="">Our network</a></li>
              <li><a href="">Contacts</a></li>
            </ul>
          </nav>
          <nav class="stores"><strong><a href="">Our stores</a></strong></nav>
          <nav class="sitemap"><strong><a href="">Site map</a></strong></nav>
        </div>
        <div class="mobile-langs">
          <ul>
            <li class="active"><a href="#">Ukr</a></li>
            <li><a href="#">Rus</a></li>
            <li><a href="#">Eng</a></li>
          </ul>
        </div>
        <div class="mixed">
          <div class="external-links"><span>Приєднуйтеся до нас у соціальних мережах</span><a href="https://www.instagram.com/vodafone_ukraine/" target="_blank" class="instagram"></a><a href="https://vk.com/vfukraine" target="_blank" class="vkontakte"></a><a href="https://www.facebook.com/VFUkraine/" target="_blank" class="facebook"></a><a href="https://twitter.com/Vodafone_UA" target="_blank" class="twitter"></a><a href="https://www.youtube.com/channel/UCca4LDwZ0UFczThXXqMa0BA" target="_blank" class="youtube"></a></div>
          <div class="copyrights">© Victory. Всі права захищені.</div>
        </div>
      </div>
    </footer>
    <script src="/js/scripts.js"></script>
  </body>
</html>
