static/html/snippets.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Site title</title>
    <link rel="stylesheet" href="/fonts/vodafone/stylesheet.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/fav/57x57.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/fav/114x114.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/fav/72x72.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/fav/144x144.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/img/fav/60x60.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/img/fav/120x120.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/fav/76x76.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/img/fav/152x152.png"/>
    <link rel="icon" type="image/png" href="/img/fav/16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/img/fav/32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/fav/96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/img/fav/160x160.png" sizes="160x160"/>
    <link rel="icon" type="image/png" href="/img/fav/196x196.png" sizes="196x196"/>
    <meta name="msapplication-TileColor" content="#fff"/>
    <meta name="msapplication-TileImage" content="/img/fav/144x144.png"/>
    <script src="/vendor/promise-ajax-js/promise.min.js"></script>
    <script src="/vendor/velocity/velocity.min.js"></script>
    <script src="/vendor/hammer.js/hammer.min.js"></script>
    <script>document.createElement("picture");</script>
    <script src="/vendor/picturefill/dist/picturefill.min.js" async="async"></script>
    <meta property="og:url" content="http://example.com"/>
    <meta property="og:title" content="Site title"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content="http://example.com/img/fb_share.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Site title"/>
    <meta property="fb:app_id" content=""/>
    <!--+vk_init('')-->
    <!--+ga('')-->
  </head>
  <body><!--[if lt IE 9]>
    <style>
      body {
          overflow: hidden
      }
    </style>
    <div id="oldie" class="oldie">
      <div class="txt">Your browser is too old, outdated and insecure.<br>Please update</div>
    </div><![endif]-->
    <!--+facebook_init('')-->
    <header id="header">
      <nav class="global-menu">
        <div class="container">
          <ul class="sections">
            <li class="active"><a href="#">Private</a></li>
            <li><a href="#">Business</a></li>
          </ul>
          <ul class="mixed">
            <li class="dropdown active"><span>About</span>
              <ul>
                <li><a href="#">About Victory</a></li>
                <li><a href="#">Rules</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Press Room</a></li>
                <li><a href="#">Our network</a></li>
              </ul>
            </li>
            <li><a href="#">Stores</a></li>
            <li class="dropdown"><span>My Vodafone</span>
              <ul class="centered">
                <li><a href="#">Private</a></li>
                <li><a href="#">Business</a></li>
              </ul>
            </li>
            <li class="separator">&nbsp;</li>
            <li class="dropdown"><span>Eng</span>
              <ul class="righted">
                <li><a href="#">Українська</a></li>
                <li><a href="#">Русский</a></li>
                <li class="active"><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="highlighter">
          <div class="tip"></div>
        </div>
      </nav>
      <div class="promo-section">
        <div class="section-menu-container">
          <div class="logo">
            <div class="romb"></div><img src="/img/logo.png"/>
          </div>
          <button class="burger"></button>
          <nav class="section-menu">
            <button class="search-button"></button>
            <button class="lang-button">Eng</button>
            <button class="location-button"></button>
            <div class="main_menu">
              <div class="sections">
                <div class="confirm show">
                  <div>
                    <p>Ви дійсно знаходитесь в {region}?</p>
                    <p>
                      <span class="yes">Так, все вірно</span>
                      <span class="no">Ні, змінити регіон</span>
                    </p>
                  </div>
                </div>
                <ul>
                  <li class="active"><a href="#" data-section="private">Private</a></li>
                  <li><a href="#" data-section="business">Business</a></li>
                  <li><a href="#" data-section="about">About</a></li>
                </ul>
              </div>
              <ul class="menu-list private current">
                <li class="dropdown"><span>Tariffs</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Prepaid</a></li>
                      <li><a href="#">Contract</a></li>
                      <li><a href="#">Inner</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Internet</a></li>
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
                <li class="dropdown has-banner"><span>Services</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Recharge account</a></li>
                      <li><a href="#">Transfer money</a></li>
                      <li><a href="#">"INFO" service</a></li>
                      <li><a href="#">"GOOD-OK" service</a></li>
                      <li><a href="#">"CLICK" service</a></li>
                    </ul>
                    <ul>
                      <li><a href="#">Recharge account</a></li>
                      <li><a href="#">Transfer money</a></li>
                      <li><a href="#">"INFO" service</a></li>
                    </ul>
                    <div class="banner">
                      <div class="cnt"></div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="menu-list business">
                <li class="dropdown"><span>Tariffs</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Prepaid</a></li>
                      <li><a href="#">Contract</a></li>
                      <li><a href="#">Inner</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Internet</a></li>
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
              </ul>
              <ul class="menu-list about">
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
              </ul>
              <button class="close">Close</button>
            </div>
            <div class="search">
              <form action="#" method="post">
                <div class="submit-wrap">
                  <button type="submit" class="submit"><span>Search</span></button>
                </div>
                <div class="search-input-wrap">
                  <input type="search" placeholder="Search..." class="search-input"/>
                </div>
              </form>
              <button class="close">Close</button>
            </div>
            <div class="langs">
              <ul>
                <li><a href="">Українська</a></li>
                <li><a href="">Русский</a></li>
                <li class="active"><a href="">English</a></li>
              </ul>
              <button class="close">Close</button>
            </div>
            <div class="locations">
              <div class="wrap">
                <ul>
                  <li><span>Украина</span></li>
                  <li><a href="1">Дніпропетровська область</a>
                    <ul>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                    </ul>
                  </li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                </ul>
              </div>
              <button class="close">Close</button>
            </div>
          </nav>
        </div>
        <div class="promo-inner-head">
          <div class="promo-image">
            <picture>
              <source srcset="/img/samples/promo-1-large.jpg" media="(min-width: 1601px)"/>
              <source srcset="/img/samples/promo-1.jpg" media="(min-width: 980px)"/>
              <source srcset="/img/samples/promo-1-small.jpg" media="(min-width: 660px)"/><img srcset="/img/samples/promo-1-mobile.jpg"/>
            </picture>
          </div>
        </div>
      </div>
    </header>
    <section id="container">
      <div class="inner-content-container">
        <div class="container slim">
          <div class="column full">
            <div class="inner-navs">
              <nav class="bread-crumps">
                <ul>
                  <li class="home"><a href="/"><span>Home</span></a></li>
                  <li><a href="#"><span>About</span></a></li>
                  <li><a href="#"><span>News</span></a></li>
                </ul>
              </nav>
              <nav class="inner-menu">
                <ul>
                  <li><a href="#">About Victory</a></li>
                  <li><a href="#">Rules</a></li>
                  <li class="active"><a href="#">News</a></li>
                  <li><a href="#">Press Room</a></li>
                  <li><a href="#">Our network</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="container slim">
          <div class="column full">
            <div class="variants-selector"><a href="#" class="active">Prepaid</a><a href="#">Contract</a></div>
            <h1 class="page-title">Prepaid</h1>
          </div>
        </div>
        <div class="container three-promo">
          <div class="column third">
            <h2>Тарифы</h2>
            <p class="title"><span>Эфир&nbsp;</span>21грн/мес</p>
            <p class="text">
              39 телеканалов,
              3 из них в HD-качестве
            </p>
            <p class="title"><span>Кино&nbsp;</span>21грн/мес</p>
            <p class="text">
              Более 3000 фильмов,
              сериалов и ТВ-шоу
            </p>
            <div class="btn-container"><a class="btn">Подробнее</a></div>
          </div>
          <div class="column third">
            <h2>Доступ</h2><img src="/img/3column/3phones.png"/>
            <p class="text">Установи приложение на смартфон и смотри на 3 устроствах без дополнительной платы</p>
            <div class="btn-container"><a class="btn">Подробнее</a></div>
          </div>
          <div class="column third">
            <h2>Просмотр</h2>
            <ul>
              <li class="dot">ТВ-запись на 7 дней</li>
              <li class="pause">ТВ-пауза до 10 минут</li>
              <li class="lock">Родительский контроль</li>
              <li class="star">Программы по темам</li>
              <li class="cc">Звуковые дорожки и субтитры</li>
            </ul>
            <div class="btn-container"><a class="btn">Подробнее</a></div>
          </div>
        </div>
        <div class="container web-store">
          <div class="btn-container"><a href="https://itunes.apple.com/ua/app/vodafone-tv/id1067569042?l=ru&amp;ls=1&amp;mt=8" class="btn"><img src="http://www.fillmurray.com/940/560"/></a><a href="https://play.google.com/store/apps/details?id=ua.vodafone.tv" class="btn"><img src="http://www.fillmurray.com/940/560"/></a></div>
        </div>
        <div class="container">
          <div class="column full">
            <h2>Подключение и переход в тарифы</h2>
            <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.</p>
          </div>
        </div>
        <div class="container">
          <div class="column half">
            <h3>Информация для новых абонентов</h3>
            <p>Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!</p>
          </div>
          <div class="column half">
            <h3>Информация для новых абонентов</h3>
            <p>Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!</p>
          </div>
        </div>
        <div class="container">
          <div class="column third">
            <h3>Подключение и переход в тарифы</h3>
            <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.</p>
          </div>
          <div class="column third">
            <h3>Подключение и переход в тарифы</h3>
            <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.</p>
          </div>
          <div class="column third">
            <h3>Подключение и переход в тарифы</h3>
            <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.</p>
          </div>
        </div>
        <div class="container">
          <div class="column full">
            <h2>Подключение и переход в тарифы</h2>
            <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.</p><a class="btn">Call to action</a><a class="btn">Call to action</a>
          </div>
        </div>
        <div class="container">
          <div class="column full center">
            <h2>Подключение и переход в тарифы</h2>
            <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.</p><a class="btn">Call to action</a><a class="btn">Call to action</a>
          </div>
        </div>
        <div class="container">
          <div class="column full center">
            <h2>See international tariffs</h2><a class="btn important">Предоплата</a><a class="btn important">Контракт</a>
          </div>
        </div>
        <div class="container">
          <div class="column half"><img src="http://www.fillmurray.com/920/600"/></div>
          <div class="column half">
            <h3>Информация для новых абонентов</h3>
            <p>Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!</p><a class="btn">Call to action</a>
          </div>
        </div>
        <div class="container">
          <div class="column full">
            <figure class="hdr seven"><img src="http://www.fillmurray.com/940/560"/>
              <div>
                <figcaption>
                  <h2>Подключение и переход в тарифы</h2>
                  <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев. </p><a class="btn">Call to action</a><a class="btn">Call to action</a>
                </figcaption>
              </div>
            </figure>
          </div>
        </div>
        <div class="row">
          <div class="column full">
            <figure class="hdr six wide"><img src="http://www.fillmurray.com/1260/400"/>
              <div>
                <figcaption>
                  <div class="container">
                    <h2>Подключение и переход в тарифы</h2>
                    <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев. </p><a class="btn">Call to action</a><a class="btn">Call to action</a>
                  </div>
                </figcaption>
              </div>
            </figure>
          </div>
        </div>
        <div class="container">
          <div class="column full"><img src="http://www.fillmurray.com/940/560"/></div>
        </div>
        <div class="row">
          <div class="column full"><img src="http://www.fillmurray.com/1260/400"/></div>
        </div>
        <div class="container">
          <div class="column half">
            <div class="file">
              <div class="date">22 грудня 2015</div>
              <div class="link"><a href="#">Узагальнена фінансова звітність за рік, що закінчився 31 грудня 2008 рок</a></div>
            </div>
          </div>
          <div class="column half">
            <div class="file">
              <div class="date">22 грудня 2015</div>
              <div class="link"><a href="#">Узагальнена фінансова звітність за рік, що закінчився 31 грудня 2008 рок</a></div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="column full">
            <div class="alert alert-important">
              <strong>Зв'язок на Сході України:</strong> Станом на 09:00 02.10.2015 працює 89% об'єктів мережі «МТС Україна» 
              в Донецькій області і 82% – в Луганській області. За минулу добу відновлено 15 об’єктів, із них 12 – у Донецькій області, 3 – у Луганській. <br>
              <a href="">Детальніше</a>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="column full">
            <div class="alert">
              <strong>Зв'язок на Сході України:</strong> Станом на 09:00 02.10.2015 працює 89% об'єктів мережі «МТС Україна» 
              в Донецькій області і 82% – в Луганській області. За минулу добу відновлено 15 об’єктів, із них 12 – у Донецькій області, 3 – у Луганській. <br>
              <a href="">Детальніше</a>
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column full">
            <hr class="wide"/>
          </div>
        </div>
        <div class="row">
          <div class="column full">
            <hr/>
          </div>
        </div>
        <div class="row">
          <h2 class="separator">
            <div class="container">Інші способи оплати</div>
          </h2>
        </div>
        <div class="container">
          <div class="column two-third">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Melbourne,+Victoria,+Australia&amp;hl=en&amp;sll=-7.981898,112.626504&amp;sspn=0.009084,0.016512&amp;oq=melbourne&amp;hnear=Melbourne+Victoria,+Australia&amp;t=m&amp;z=10&amp;output=embed" class="mg1"></iframe>
            </div>
          </div>
          <div class="column third">
            <h3>Get in Touch</h3>
            <p><strong>Company, Inc.</strong><br/>123 Street, City<br/>State 12345<br/>P: (123) 456 7890 / 456 7891</p>
            <p><strong>Full Name</strong><br/><a href="mailto:#">first.last@example.com</a></p>
          </div>
        </div>
        <div class="row">
          <div class="accordion">
            <div class="panel expanded">
              <div class="title">
                <div class="container">
                  <div class="column full">Акція «Подарунки за поповнення рахунку»</div>
                </div>
              </div>
              <div class="content">
                <div class="container">
                  <div class="column full">Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!</div>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="title">
                <div class="container">
                  <div class="column full">Акція «Подарунки за поповнення рахунку»</div>
                </div>
              </div>
              <div class="content">
                <div class="container">
                  <div class="column full">Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!</div>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="title">
                <div class="container">
                  <div class="column full">Акція «Подарунки за поповнення рахунку»</div>
                </div>
              </div>
              <div class="content">
                <div class="container">
                  <div class="column full">Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="column two-third">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
          <div class="column third">
            Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» 
            или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!
            
            
          </div>
        </div>
        <div class="container">
          <div class="column full">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="column full">
            <div class="featured_items"><a href="#" class="featured">
                <div class="icon"><img src="/img/featured/map.png"/></div><strong>Coverage map</strong>
                <p>Check our network in Ukraine</p></a><a href="#" class="featured">
                <div class="icon"><img src="/img/featured/buy.png"/></div><strong>Where to buy</strong>
                <p>Find the nearest shop</p></a><a href="#" class="featured">
                <div class="icon"><img src="/img/featured/settings.png"/></div><strong>3G Settings </strong>
                <p>Setup your smartphone  for 3G network</p></a><a href="#" class="featured">
                <div class="icon"><img src="/img/featured/recharging.png"/></div><strong>Recharging</strong>
                <p>Easy recharge through internet</p></a></div>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="container">
        <div class="contact">
          Телефон служби підтримки: 
          <address>0 (800) 400-000</address> (безкоштовно з усіх мереж зв’язку України) 
          або <address>111</address> (безкоштовно в мережі МТС)
        </div>
        <div class="menu">
          <nav class="private"><strong><a href="">Private</a></strong>
            <ul>
              <li><a href="">Tariffs</a></li>
              <li><a href="">Internet</a></li>
              <li><a href="">International calls</a></li>
              <li><a href="">Roaming</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">My Victory</a></li>
            </ul>
          </nav>
          <nav class="business"><strong><a href="">Business</a></strong>
            <ul>
              <li><a href="">Tariffs</a></li>
              <li><a href="">Internet</a></li>
              <li><a href="">International calls</a></li>
              <li><a href="">Roaming</a></li>
              <li><a href="">My Victory</a></li>
            </ul>
          </nav>
          <nav class="about"><strong><a href="">About</a></strong>
            <ul>
              <li><a href="">About company</a></li>
              <li><a href="">Terms of use</a></li>
              <li><a href="">News</a></li>
              <li><a href="">Press center</a></li>
              <li><a href="">Our network</a></li>
              <li><a href="">Contacts</a></li>
            </ul>
          </nav>
          <nav class="stores"><strong><a href="">Our stores</a></strong></nav>
          <nav class="sitemap"><strong><a href="">Site map</a></strong></nav>
        </div>
        <div class="mobile-langs">
          <ul>
            <li class="active"><a href="#">Ukr</a></li>
            <li><a href="#">Rus</a></li>
            <li><a href="#">Eng</a></li>
          </ul>
        </div>
        <div class="mixed">
          <div class="external-links"><span>Приєднуйтеся до нас у соціальних мережах</span><a href="https://www.instagram.com/vodafone_ukraine/" target="_blank" class="instagram"></a><a href="https://vk.com/vfukraine" target="_blank" class="vkontakte"></a><a href="https://www.facebook.com/VFUkraine/" target="_blank" class="facebook"></a><a href="https://twitter.com/Vodafone_UA" target="_blank" class="twitter"></a><a href="https://www.youtube.com/channel/UCca4LDwZ0UFczThXXqMa0BA" target="_blank" class="youtube"></a></div>
          <div class="copyrights">© Victory. Всі права захищені.</div>
        </div>
      </div>
    </footer>
    <script src="/js/scripts.js"></script>
  </body>
</html>

assets/jade/pages/snippets.jade
extends ../layouts/inner

block undermenu
    .promo-inner-head
        .promo-image
            picture
                source(srcset='/img/samples/promo-1-large.jpg', media="(min-width: 1601px)")
                source(srcset='/img/samples/promo-1.jpg', media="(min-width: 980px)")
                source(srcset='/img/samples/promo-1-small.jpg', media="(min-width: 660px)")
                img(srcset='/img/samples/promo-1-mobile.jpg')

block content
    .inner-content-container
        .container.slim: .column.full
            .inner-navs
                nav.bread-crumps
                    ul
                        li.home: a(href="/"): span Home
                        li: a(href="#"): span About
                        li: a(href="#"): span News
                nav.inner-menu
                    ul
                        li: a(href="#") About Victory
                        li: a(href="#") Rules
                        li.active: a(href="#") News
                        li: a(href="#") Press Room
                        li: a(href="#") Our network
                    
        .container.slim: .column.full
            .variants-selector
                a.active(href="#") Prepaid
                a(href="#") Contract
            h1.page-title Prepaid

        .container.three-promo
            .column.third
                h2 Тарифы
                p.title
                    span Эфир&nbsp;
                    | 21грн/мес
                p.text 39 телеканалов,
                    |3 из них в HD-качестве
                p.title
                    span Кино&nbsp;
                    | 21грн/мес
                p.text Более 3000 фильмов,
                    |сериалов и ТВ-шоу
                .btn-container
                    a.btn Подробнее
            .column.third
                h2 Доступ
                img(src="/img/3column/3phones.png")
                p.text Установи приложение на смартфон и смотри на 3 устроствах без дополнительной платы
                .btn-container
                    a.btn Подробнее
            .column.third
                h2 Просмотр
                ul
                    li.dot ТВ-запись на 7 дней
                    li.pause ТВ-пауза до 10 минут
                    li.lock Родительский контроль
                    li.star Программы по темам
                    li.cc Звуковые дорожки и субтитры
                .btn-container
                    a.btn Подробнее

        .container.web-store
            .btn-container
                a(href='https://itunes.apple.com/ua/app/vodafone-tv/id1067569042?l=ru&ls=1&mt=8',class='btn'): img(src="http://www.fillmurray.com/940/560")
                a(href='https://play.google.com/store/apps/details?id=ua.vodafone.tv',class='btn'): img(src="http://www.fillmurray.com/940/560")

        .container
            .column.full
                h2 Подключение и переход в тарифы
                p Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.

        .container
            .column.half
                h3 Информация для новых абонентов
                p Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!
            .column.half
                h3 Информация для новых абонентов
                p Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!
                
                
        .container
            .column.third
                h3 Подключение и переход в тарифы
                p Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.
            .column.third
                h3 Подключение и переход в тарифы
                p Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.
            .column.third
                h3 Подключение и переход в тарифы
                p Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.

            
        .container
            .column.full
                h2 Подключение и переход в тарифы
                p Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.
                a.btn Call to action
                a.btn Call to action
                
        .container
            .column.full.center
                h2 Подключение и переход в тарифы
                p Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.
                a.btn Call to action
                a.btn Call to action
                
        .container
            .column.full.center
                h2 See international tariffs
                a.btn.important Предоплата
                a.btn.important Контракт

        .container
            .column.half
                img(src="http://www.fillmurray.com/920/600")
            .column.half
                h3 Информация для новых абонентов
                p Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!
                a.btn Call to action
                            
                
        .container
            .column.full
                figure.hdr.seven
                    img(src="http://www.fillmurray.com/940/560")
                    div
                        figcaption
                            h2 Подключение и переход в тарифы
                            p
                                | Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев. 
                            a.btn Call to action
                            a.btn Call to action
        
                            
        .row
            .column.full
                figure.hdr.six.wide
                    img(src="http://www.fillmurray.com/1260/400")
                    div
                        figcaption: .container
                            h2 Подключение и переход в тарифы
                            p
                                | Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев. 
                            a.btn Call to action
                            a.btn Call to action
                            
        .container
            .column.full
                img(src="http://www.fillmurray.com/940/560")
          
        .row
            .column.full
                img(src="http://www.fillmurray.com/1260/400")
            
        .container
            .column.half
                .file
                    .date 22 грудня 2015
                    .link: a(href="#") Узагальнена фінансова звітність за рік, що закінчився 31 грудня 2008 рок
            .column.half
                .file
                    .date 22 грудня 2015
                    .link: a(href="#") Узагальнена фінансова звітність за рік, що закінчився 31 грудня 2008 рок
            
        .container
            .column.full
                .alert.alert-important.
                    <strong>Зв'язок на Сході України:</strong> Станом на 09:00 02.10.2015 працює 89% об'єктів мережі «МТС Україна» 
                    в Донецькій області і 82% – в Луганській області. За минулу добу відновлено 15 об’єктів, із них 12 – у Донецькій області, 3 – у Луганській. <br>
                    <a href="">Детальніше</a>
        .container
            .column.full
                .alert.
                    <strong>Зв'язок на Сході України:</strong> Станом на 09:00 02.10.2015 працює 89% об'єктів мережі «МТС Україна» 
                    в Донецькій області і 82% – в Луганській області. За минулу добу відновлено 15 об’єктів, із них 12 – у Донецькій області, 3 – у Луганській. <br>
                    <a href="">Детальніше</a>
        
        .row
            .column.full
                hr.wide
            
        .row
            .column.full
                hr
            
        .row
            h2.separator
                .container Інші способи оплати
                
                
        .container
            .column.two-third
                .embed-responsive.embed-responsive-16by9
                    iframe.mg1(width='100%', height='400', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?q=Melbourne,+Victoria,+Australia&hl=en&sll=-7.981898,112.626504&sspn=0.009084,0.016512&oq=melbourne&hnear=Melbourne+Victoria,+Australia&t=m&z=10&output=embed')
            .column.third
                h3 Get in Touch
                p
                    strong Company, Inc.
                    br
                    | 123 Street, City
                    br
                    | State 12345
                    br
                    | P: (123) 456 7890 / 456 7891
                p
                    strong Full Name
                    br
                    a(href='mailto:#') first.last@example.com
            
        
        .row
            .accordion
                .panel.expanded
                    .title: .container: .column.full Акція «Подарунки за поповнення рахунку»
                    .content: .container: .column.full Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!
                .panel
                    .title: .container: .column.full Акція «Подарунки за поповнення рахунку»
                    .content: .container: .column.full Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!
                .panel
                    .title: .container: .column.full Акція «Подарунки за поповнення рахунку»
                    .content: .container: .column.full Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!

        .container
            .column.two-third
                .embed-responsive.embed-responsive-16by9
                    iframe(width="560" height="315" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" frameborder="0" allowfullscreen="")
            .column.third.
                Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» 
                или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!


        .container
            .column.full
                .embed-responsive.embed-responsive-16by9
                    iframe(width="560" height="315" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" frameborder="0" allowfullscreen="")
                    
                    
        .container
            .column.full
                .featured_items
                    a.featured(href="#")
                        .icon: img(src="/img/featured/map.png")
                        strong Coverage map
                        p Check our network in Ukraine
                    a.featured(href="#")
                        .icon: img(src="/img/featured/buy.png")
                        strong Where to buy
                        p Find the nearest shop
                    a.featured(href="#")
                        .icon: img(src="/img/featured/settings.png")
                        strong 3G Settings 
                        p Setup your smartphone  for 3G network
                    a.featured(href="#")
                        .icon: img(src="/img/featured/recharging.png")
                        strong Recharging
                        p Easy recharge through internet
