assets/jade/pages/tarif-sml.jade
extends ../layouts/inner

block vars
    - var promoSectionClass = 'has-slider'

block undermenu
    .promo-inner-head
            .promo-image
                picture
                    source(srcset='/img/samples/promo-1-large.jpg', media="(min-width: 1601px)")
                    source(srcset='/img/samples/promo-1.jpg', media="(min-width: 980px)")
                    source(srcset='/img/samples/promo-1-small.jpg', media="(min-width: 660px)")
                    img(srcset='/img/samples/promo-1-mobile.jpg')
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span Приватним клієнтам
                    li: a(href="#"): span Тарифи
                    li: a(href="#"): span Тарифи передплата
                    li: strong Vodafone XS
        .promo-title Vodafone Red XS

block content

    .page-title-container
        .select-type
            a(href="#") RED XS
            a.active(href="#") RED S/M/L
            a(href="#") Light
        h1.page-title Прості тарифи Vodafone Red

    .inner-content-container.transparent.new_tarif

        .content-box

            .new_tarif-table.vodafone_red
                div
                    .inner
                        .first
                            table
                                tr: th: strong Базова вартість пакетів послуг на місяць в тарифах Vodafone Red
                                tr: td Дзвінки в мережі Vodafone Україна та МТС Україна
                                tr: td Vodafone TV, «Ефір» (включено в пакет)
                                tr: td Соцмережі: Facebook, Instagram, Twitter, тексти у Viber та  WhatsApp
                                tr: td: a(href="#") 3G/2G Інтернет
                                tr: td Дзвінки на інші мережі по Україні та <a href="#">за кордон</a>
                                tr: td SMS&amps;MMS на всі мережі по Україні та <a href="#">за кордон</a>
                        .item.orange
                            table
                                tr: th
                                    .marker XS
                                    .price <span>40</span> грн
                                tr: td Безліміт
                                tr: td —
                                tr: td.rowspan_2 1 ГБ
                                tr: td 30 хв <br> <small>по Україні</small>
                                tr: td 30 шт <br> <small>по Україні</small>
                        .to_front.columns_3
                            .item.green
                                table
                                    tr: th
                                        .marker S
                                        .price <span>50</span> грн
                                    tr: td Безліміт
                                    tr: td —
                                    tr: td Безліміт
                                    tr: td 2 ГБ
                                    tr: td 50 хв
                                    tr: td 50 шт
                            .item.blue
                                table
                                    tr: th
                                        .marker M
                                        .price <span>70</span> грн
                                    tr: td Безліміт
                                    tr: td —
                                    tr: td Безліміт
                                    tr: td 4 ГБ
                                    tr: td 70 хв
                                    tr: td 70 шт
                            .item.purple
                                table
                                    tr: th
                                        .marker L
                                        .price <span>150</span> грн
                                    tr: td Безліміт
                                    tr: td Безліміт
                                    tr: td Безліміт
                                    tr: td 6 ГБ
                                    tr: td 150 хв
                                    tr: td 150 шт
                        .last
                            table
                                tr: th Прозора вартість послуг понад пакет
                                tr: td —
                                tr: td —
                                tr: td —
                                tr: td 10 грн за кожні <br> 500 МБ
                                tr: td 0,50 грн/хв
                                tr: td 0,50 грн/шт.

            blockquote
                p Повна назва тарифу Vodafone Red XS – «Vodafone Red XS+» .
            blockquote
                p Послуга <a href="#">Vodafone TV</a>, пакет «Ефір» доступна без додаткових платежів у тарифі Vodafone Red L, в усіх інших тарифах — за стандартними умовами (деталі та умови надання послуги Vodafone TV на tv.vodafone.ua).

static/html/tarif-sml.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Site title</title>
    <link rel="stylesheet" href="/fonts/vodafone/stylesheet.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/fav/57x57.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/fav/114x114.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/fav/72x72.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/fav/144x144.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/img/fav/60x60.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/img/fav/120x120.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/fav/76x76.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/img/fav/152x152.png"/>
    <link rel="icon" type="image/png" href="/img/fav/16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/img/fav/32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/fav/96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/img/fav/160x160.png" sizes="160x160"/>
    <link rel="icon" type="image/png" href="/img/fav/196x196.png" sizes="196x196"/>
    <meta name="msapplication-TileColor" content="#fff"/>
    <meta name="msapplication-TileImage" content="/img/fav/144x144.png"/>
    <script src="/vendor/promise-ajax-js/promise.min.js"></script>
    <script src="/vendor/velocity/velocity.min.js"></script>
    <script src="/vendor/hammer.js/hammer.min.js"></script>
    <script>document.createElement("picture");</script>
    <script src="/vendor/picturefill/dist/picturefill.min.js" async="async"></script>
    <meta property="og:url" content="http://example.com"/>
    <meta property="og:title" content="Site title"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content="http://example.com/img/fb_share.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Site title"/>
    <meta property="fb:app_id" content=""/>
    <!--+vk_init('')-->
    <!--+ga('')-->
  </head>
  <body><!--[if lt IE 9]>
    <style>
      body {
          overflow: hidden
      }
    </style>
    <div id="oldie" class="oldie">
      <div class="txt">Your browser is too old, outdated and insecure.<br>Please update</div>
    </div><![endif]-->
    <!--+facebook_init('')-->
    <header id="header">
      <nav class="global-menu">
        <div class="container">
          <ul class="sections">
            <li class="active"><a href="#">Private</a></li>
            <li><a href="#">Business</a></li>
          </ul>
          <ul class="mixed">
            <li class="dropdown active"><span>About</span>
              <ul>
                <li><a href="#">About Victory</a></li>
                <li><a href="#">Rules</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Press Room</a></li>
                <li><a href="#">Our network</a></li>
              </ul>
            </li>
            <li><a href="#">Stores</a></li>
            <li class="dropdown"><span>My Vodafone</span>
              <ul class="centered">
                <li><a href="#">Private</a></li>
                <li><a href="#">Business</a></li>
              </ul>
            </li>
            <li class="separator">&nbsp;</li>
            <li class="dropdown"><span>Eng</span>
              <ul class="righted">
                <li><a href="#">Українська</a></li>
                <li><a href="#">Русский</a></li>
                <li class="active"><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="highlighter">
          <div class="tip"></div>
        </div>
      </nav>
      <div class="promo-section has-slider">
        <div class="section-menu-container">
          <div class="logo">
            <div class="romb"></div><img src="/img/logo.png"/>
          </div>
          <button class="burger"></button>
          <nav class="section-menu">
            <button class="search-button"></button>
            <button class="lang-button">Eng</button>
            <button class="location-button"></button>
            <div class="main_menu">
              <div class="sections">
                <div class="confirm show">
                  <div>
                    <p>Ви дійсно знаходитесь в {region}?</p>
                    <p>
                      <span class="yes">Так, все вірно</span>
                      <span class="no">Ні, змінити регіон</span>
                    </p>
                  </div>
                </div>
                <ul>
                  <li class="active"><a href="#" data-section="private">Private</a></li>
                  <li><a href="#" data-section="business">Business</a></li>
                  <li><a href="#" data-section="about">About</a></li>
                </ul>
              </div>
              <ul class="menu-list private current">
                <li class="dropdown"><span>Tariffs</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Prepaid</a></li>
                      <li><a href="#">Contract</a></li>
                      <li><a href="#">Inner</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Internet</a></li>
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
                <li class="dropdown has-banner"><span>Services</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Recharge account</a></li>
                      <li><a href="#">Transfer money</a></li>
                      <li><a href="#">"INFO" service</a></li>
                      <li><a href="#">"GOOD-OK" service</a></li>
                      <li><a href="#">"CLICK" service</a></li>
                    </ul>
                    <ul>
                      <li><a href="#">Recharge account</a></li>
                      <li><a href="#">Transfer money</a></li>
                      <li><a href="#">"INFO" service</a></li>
                    </ul>
                    <div class="banner">
                      <div class="cnt"></div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="menu-list business">
                <li class="dropdown"><span>Tariffs</span>
                  <div class="submenu">
                    <ul>
                      <li><a href="#">Prepaid</a></li>
                      <li><a href="#">Contract</a></li>
                      <li><a href="#">Inner</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Internet</a></li>
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
              </ul>
              <ul class="menu-list about">
                <li><a href="#">International calls</a></li>
                <li><a href="#">Roaming</a></li>
              </ul>
              <button class="close">Close</button>
            </div>
            <div class="search">
              <form action="#" method="post">
                <div class="submit-wrap">
                  <button type="submit" class="submit"><span>Search</span></button>
                </div>
                <div class="search-input-wrap">
                  <input type="search" placeholder="Search..." class="search-input"/>
                </div>
              </form>
              <button class="close">Close</button>
            </div>
            <div class="langs">
              <ul>
                <li><a href="">Українська</a></li>
                <li><a href="">Русский</a></li>
                <li class="active"><a href="">English</a></li>
              </ul>
              <button class="close">Close</button>
            </div>
            <div class="locations">
              <div class="wrap">
                <ul>
                  <li><span>Украина</span></li>
                  <li><a href="1">Дніпропетровська область</a>
                    <ul>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                      <li><a href="2">Апостолівський район</a></li>
                    </ul>
                  </li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                  <li><a href="1">Дніпропетровська область</a></li>
                </ul>
              </div>
              <button class="close">Close</button>
            </div>
          </nav>
        </div>
        <div class="promo-inner-head">
          <div class="promo-image">
            <picture>
              <source srcset="/img/samples/promo-1-large.jpg" media="(min-width: 1601px)"/>
              <source srcset="/img/samples/promo-1.jpg" media="(min-width: 980px)"/>
              <source srcset="/img/samples/promo-1-small.jpg" media="(min-width: 660px)"/><img srcset="/img/samples/promo-1-mobile.jpg"/>
            </picture>
          </div>
        </div>
        <div class="inner-info-container">
          <div class="wrap">
            <div class="inner-navs">
              <nav class="bread-crumps">
                <ul>
                  <li class="home"><a href="/"><span>Home</span></a></li>
                  <li><a href="#"><span>Приватним клієнтам</span></a></li>
                  <li><a href="#"><span>Тарифи</span></a></li>
                  <li><a href="#"><span>Тарифи передплата</span></a></li>
                  <li><strong>Vodafone XS</strong></li>
                </ul>
              </nav>
            </div>
            <div class="promo-title">Vodafone Red XS</div>
          </div>
        </div>
      </div>
    </header>
    <section id="container">
      <div class="page-title-container">
        <div class="select-type"><a href="#">RED XS</a><a href="#" class="active">RED S/M/L</a><a href="#">Light</a></div>
        <h1 class="page-title">Прості тарифи Vodafone Red</h1>
      </div>
      <div class="inner-content-container transparent new_tarif">
        <div class="content-box">
          <div class="new_tarif-table vodafone_red">
            <div>
              <div class="inner">
                <div class="first">
                  <table>
                    <tr>
                      <th><strong>Базова вартість пакетів послуг на місяць в тарифах Vodafone Red</strong></th>
                    </tr>
                    <tr>
                      <td>Дзвінки в мережі Vodafone Україна та МТС Україна</td>
                    </tr>
                    <tr>
                      <td>Vodafone TV, «Ефір» (включено в пакет)</td>
                    </tr>
                    <tr>
                      <td>Соцмережі: Facebook, Instagram, Twitter, тексти у Viber та  WhatsApp</td>
                    </tr>
                    <tr>
                      <td><a href="#">3G/2G Інтернет</a></td>
                    </tr>
                    <tr>
                      <td>Дзвінки на інші мережі по Україні та <a href="#">за кордон</a></td>
                    </tr>
                    <tr>
                      <td>SMS&amps;MMS на всі мережі по Україні та <a href="#">за кордон</a></td>
                    </tr>
                  </table>
                </div>
                <div class="item orange">
                  <table>
                    <tr>
                      <th>
                        <div class="marker">XS</div>
                        <div class="price"><span>40</span> грн</div>
                      </th>
                    </tr>
                    <tr>
                      <td>Безліміт</td>
                    </tr>
                    <tr>
                      <td>—</td>
                    </tr>
                    <tr>
                      <td class="rowspan_2">1 ГБ</td>
                    </tr>
                    <tr>
                      <td>30 хв <br> <small>по Україні</small></td>
                    </tr>
                    <tr>
                      <td>30 шт <br> <small>по Україні</small></td>
                    </tr>
                  </table>
                </div>
                <div class="to_front columns_3">
                  <div class="item green">
                    <table>
                      <tr>
                        <th>
                          <div class="marker">S</div>
                          <div class="price"><span>50</span> грн</div>
                        </th>
                      </tr>
                      <tr>
                        <td>Безліміт</td>
                      </tr>
                      <tr>
                        <td>—</td>
                      </tr>
                      <tr>
                        <td>Безліміт</td>
                      </tr>
                      <tr>
                        <td>2 ГБ</td>
                      </tr>
                      <tr>
                        <td>50 хв</td>
                      </tr>
                      <tr>
                        <td>50 шт</td>
                      </tr>
                    </table>
                  </div>
                  <div class="item blue">
                    <table>
                      <tr>
                        <th>
                          <div class="marker">M</div>
                          <div class="price"><span>70</span> грн</div>
                        </th>
                      </tr>
                      <tr>
                        <td>Безліміт</td>
                      </tr>
                      <tr>
                        <td>—</td>
                      </tr>
                      <tr>
                        <td>Безліміт</td>
                      </tr>
                      <tr>
                        <td>4 ГБ</td>
                      </tr>
                      <tr>
                        <td>70 хв</td>
                      </tr>
                      <tr>
                        <td>70 шт</td>
                      </tr>
                    </table>
                  </div>
                  <div class="item purple">
                    <table>
                      <tr>
                        <th>
                          <div class="marker">L</div>
                          <div class="price"><span>150</span> грн</div>
                        </th>
                      </tr>
                      <tr>
                        <td>Безліміт</td>
                      </tr>
                      <tr>
                        <td>Безліміт</td>
                      </tr>
                      <tr>
                        <td>Безліміт</td>
                      </tr>
                      <tr>
                        <td>6 ГБ</td>
                      </tr>
                      <tr>
                        <td>150 хв</td>
                      </tr>
                      <tr>
                        <td>150 шт</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="last">
                  <table>
                    <tr>
                      <th>Прозора вартість послуг понад пакет</th>
                    </tr>
                    <tr>
                      <td>—</td>
                    </tr>
                    <tr>
                      <td>—</td>
                    </tr>
                    <tr>
                      <td>—</td>
                    </tr>
                    <tr>
                      <td>10 грн за кожні <br> 500 МБ</td>
                    </tr>
                    <tr>
                      <td>0,50 грн/хв</td>
                    </tr>
                    <tr>
                      <td>0,50 грн/шт.</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <blockquote>
            <p>Повна назва тарифу Vodafone Red XS – «Vodafone Red XS+» .</p>
          </blockquote>
          <blockquote>
            <p>Послуга <a href="#">Vodafone TV</a>, пакет «Ефір» доступна без додаткових платежів у тарифі Vodafone Red L, в усіх інших тарифах — за стандартними умовами (деталі та умови надання послуги Vodafone TV на tv.vodafone.ua).</p>
          </blockquote>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="container">
        <div class="contact">
          Телефон служби підтримки: 
          <address>0 (800) 400-000</address> (безкоштовно з усіх мереж зв’язку України) 
          або <address>111</address> (безкоштовно в мережі МТС)
        </div>
        <div class="menu">
          <nav class="private"><strong><a href="">Private</a></strong>
            <ul>
              <li><a href="">Tariffs</a></li>
              <li><a href="">Internet</a></li>
              <li><a href="">International calls</a></li>
              <li><a href="">Roaming</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">My Victory</a></li>
            </ul>
          </nav>
          <nav class="business"><strong><a href="">Business</a></strong>
            <ul>
              <li><a href="">Tariffs</a></li>
              <li><a href="">Internet</a></li>
              <li><a href="">International calls</a></li>
              <li><a href="">Roaming</a></li>
              <li><a href="">My Victory</a></li>
            </ul>
          </nav>
          <nav class="about"><strong><a href="">About</a></strong>
            <ul>
              <li><a href="">About company</a></li>
              <li><a href="">Terms of use</a></li>
              <li><a href="">News</a></li>
              <li><a href="">Press center</a></li>
              <li><a href="">Our network</a></li>
              <li><a href="">Contacts</a></li>
            </ul>
          </nav>
          <nav class="stores"><strong><a href="">Our stores</a></strong></nav>
          <nav class="sitemap"><strong><a href="">Site map</a></strong></nav>
        </div>
        <div class="mobile-langs">
          <ul>
            <li class="active"><a href="#">Ukr</a></li>
            <li><a href="#">Rus</a></li>
            <li><a href="#">Eng</a></li>
          </ul>
        </div>
        <div class="mixed">
          <div class="external-links"><span>Приєднуйтеся до нас у соціальних мережах</span><a href="https://www.instagram.com/vodafone_ukraine/" target="_blank" class="instagram"></a><a href="https://vk.com/vfukraine" target="_blank" class="vkontakte"></a><a href="https://www.facebook.com/VFUkraine/" target="_blank" class="facebook"></a><a href="https://twitter.com/Vodafone_UA" target="_blank" class="twitter"></a><a href="https://www.youtube.com/channel/UCca4LDwZ0UFczThXXqMa0BA" target="_blank" class="youtube"></a></div>
          <div class="copyrights">© Victory. Всі права захищені.</div>
        </div>
      </div>
    </footer>
    <script src="/js/scripts.js"></script>
  </body>
</html>
